

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>充值记录列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
</head>
<style>
  .layui-table-cell{
      display:table-cell;
      vertical-align: middle;
  }
</style>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">充值记录</div>
                <div class="layui-card-body">
                	<div class="demoTable" style="margin-bottom:10px;display: flex;">
                		<div class="layui-inline">
					      <label class="layui-form-label">用户昵称：</label>
					      <div class="layui-input-inline">
					        <input class="layui-input" placeholder="请输入用户昵称" name="nickname" id="nickname" autocomplete="off">
					      </div>
					    </div>
						
			            <div class="layui-inline">
					      <label class="layui-form-label">时间范围</label>
					      <div class="layui-input-inline">
					        <input type="text" class="layui-input" id="test10" placeholder=" - " readonly style="width: 290px;">
					      </div>
					    </div>
			            <button class="layui-btn" style="margin-left:20px;" data-type="reload">搜索</button>
			            
			             <button type="button" class="layui-btn layui-btn-warm" id="exportExcel" name="exportExcel">
                         <i class="layui-icon"></i>导出Excel</button>
					</div>
                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
       	,excel: '../layui/layui_exts/excel/excel',
    }).use(['jquery','index', 'table','excel','laydate'], function(){
        var $ = layui.$
        	,table = layui.table
            ,admin = layui.admin
            ,excel = layui.excel
            ,laydate = layui.laydate;
        	

            
        laydate.render({
            elem: '#test10'
           	,range: true
           	,trigger: 'click'
   	    	,type: 'datetime'
   	    	,format: 'yyyy/MM/d HH:mm:ss'
          });
        table.render({
            elem: '#test-table-operate'
            ,url:"{:siteUrl('admin/recharge/recharge_log_list','','web')}"
            ,cols: [[
                 {field:'logno', title: '充值单号', sort: true}
                ,{field:'uid', title: '用户信息',templet:function(d){
                	return "<img style='max-width:25px;' src='"+d.avatar+"'></img>"+d.nickname;
                }}
                ,{field:'money', title: '充值金额',templet:function(d){
                	return d.money+"元";
                }}
                ,{field:'rechargetype', title: '充值方式', sort: true,templet:function(d){
                	if(d.rechargetype == 1){
                		return "余额充值";
                	}else{
                		return "后台充值";
                	}
                }}
                ,{field:'createtime', title: '充值时间', sort: true ,templet:function(d){
                	return layui.util.toDateString(d.createtime*1000, "yyyy-MM-dd HH:mm");
                }}
            ]]
            ,page: true
        });
        
        $('#exportExcel').on('click', function(){
			// 模拟从后端接口读取需要导出的数据
			$.ajax({
				url: "{:siteUrl('admin/recharge/recharge_log_list_export','','web')}"
				,data :{
                    'con_time': $('#test10').val(),
                    'nickname': $('#nickname').val(),
				}
				,dataType: 'json'
				,success(res) {
					var data = res.data;
					console.log(data);
					// 重点！！！如果后端给的数据顺序和映射关系不对，请执行梳理函数后导出
					data = excel.filterExportData(data, [
					    'logno'
					    ,'nickname'
						,'payment'
						,'money'
						,'actual'
						,'createtime'
					]);
					// 重点2！！！一般都需要加一个表头，表头的键名顺序需要与最终导出的数据一致
					
					var sDate =new Date();
					
					var year = sDate.getFullYear();
		            var month = sDate.getMonth() + 1 < 10 ? "0" + (sDate.getMonth() + 1) : sDate.getMonth() + 1;
		            var date = sDate.getDate() < 10 ? "0" + sDate.getDate() : sDate.getDate();
		            var hour = sDate.getHours()< 10 ? "0" + sDate.getHours() : sDate.getHours();
		            var minute = sDate.getMinutes()< 10 ? "0" + sDate.getMinutes() : sDate.getMinutes();
		            var second = sDate.getSeconds()< 10 ? "0" + sDate.getSeconds() : sDate.getSeconds();
		            
		            var dataStr = year +"" + month+"" + date;
		            
		            var str = year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
					
					
					data.unshift({ 
						logno: "充值单号"
						, nickname: "充值人"
						, payment: "充值方式"
						, money: "充值金额（元）"
						, actual: "实付金额（元）"
						, createtime:"充值时间"
					});

					var colConf = LAY_EXCEL.makeColConfig({
		            	'A': 150,
                        'F': 150,
                    }, 100)
                    // 3. 第1行行高40，第二行行高30，默认20
                    var rowConf = LAY_EXCEL.makeRowConfig(20)

					excel.exportExcel(data, '充值记录'+dataStr+'.xlsx', 'xlsx',{
					    extend: {
					    	'!cols': colConf
		                    , '!rows': rowConf
					    }
					});

				}
				,error() {
					layer.alert('获取数据失败，请检查是否部署在本地服务器环境下');
				}
			});
		  }); 	
       
        
        var $ = layui.$, active = {
                reload: function(){
                    //执行重载 --id
                    table.reload('test-table-operate', {
                      page: {
                        curr: 1 //重新从第 1 页开始
                      }
                      ,where: {
                    	  'con_time': $('#test10').val(),
                          'nickname': $('#nickname').val(),
                      }
                    });
                  }
            };

            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

    });
</script>
</body>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
	{include file='../addons/wjyk_zqds/application/admin/view/index/footer.html' /}
</div>
</html>