<!DOCTYPE html>
<html lang="zh-cn">
{template 'web/common/header'}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {template 'web/common/top'}
    <!-- 左侧导航 -->
    {template 'web/common/sidebar'}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>
                {$title}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">模板</li>
                <li class="active">{$title}</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="">活动列表</a></li>
                            <li><a href="{php echo $this->createWebUrl('obj_home', array('act' => 'modify'));}">创建活动</a></li>
                            <li><a href="{php echo $this->createWebUrl('obj_home_nav', array('act' => 'index'));}">聚合导航</a></li>
                            <li><a href="{php echo $this->createWebUrl('obj_home_attr', array('act' => 'index'));}">聚合属性</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-search"></i> 筛选条件</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i></button>
                                        <button class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <form id="formSearch" class="form-horizontal">
                                    <div class="box-body">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label for="SearchStore" class="col-sm-1 control-label">平台商家</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchStore">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $storeList $value}
                                                    <option value="{$value['id']}" {php echo $_GPC['store_id'] ==$value['id']?'selected':''}>{$value['name']}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <label for="SearchKey" class="col-sm-1 control-label">活动名称</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="SearchKey"
                                                       placeholder="项目名称/项目编号/项目TOKEN">
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTypes">活动类型</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchTypes">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $activityTypes $index $types}
                                                    <option value="{$index}">{$types}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label class="control-label col-sm-1" for="SearchStatus">活动状态</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchStatus">
                                                    <option value="" selected="selected">请选择</option>
                                                    <option value="1">启用</option>
                                                    <option value="0">禁用</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchProcess">活动进度</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchProcess">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $timetype $type $value}
                                                    <option value="{$type}">{$value}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchStatus">聚合导航</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchNav">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $navList $value}
                                                    <option value="{$value['id']}">{$value['name']}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label class="control-label col-sm-1" for="SearchStatus">聚合属性</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchAttr">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $attrList $value}
                                                    <option value="{$value['id']}">{$value['name']}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTime">创建时间</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="SearchTime"
                                                           placeholder="开始时间 - 结束时间" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="btn-group pull-right">
                                            <button id="btn_query" type="button" class="btn btn-sm btn-info">开始检索
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-default">重置检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="box" class="table-responsive">
                                <div id="toolbar" class="btn-group">
                                    <button id="btn_add" type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;创建
                                    </button>
                                    <button id="btn_delete" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
                                    </button>
                                </div>
                                <table id="tb_bandlist" class="table text-nowrap" data-reorderable-columns="true" ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="copyTarget" style="opacity: 0;"></div>
    </div>
    <!-- 底部版权 -->
    {template 'web/common/footer'}
</div>
<script>
    $(function () {
        SelectNav("聚合首页");

        require(["daterangepicker"], function () {
            //时间搜索
            $('#SearchTime').daterangepicker({
                format: "YYYY/MM/DD"
            });
        });
        myrequire(['select2', 'bootstrap-switch', 'bootstrap-editable', 'bootstrap-table'], function () {
            myrequire(['bootstrap-table-zh-cn', 'bootstrap-table-editable','bootstrap-table-fixed-columns'], function () {
                $(".select2").select2();
                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();
                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();
            });
        });
    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_bandlist').bootstrapTable({
                url: "{php echo $this->createWebUrl('obj_home', array('act' => 'getJsonList','tmp_id' => $tmp_id));}",         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortName: "id",                   //排序字段
                sortOrder: "desc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 575,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                fixedColumns: true,                    //冻结列开启关闭
                fixedNumber: 1,                        //冻结列数量
                onLoadError: function () {  //加载失败时执行
                    Command: toastr["error"]("对不起，网络繁忙，请稍后再试！", "错误提示");
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: '编号',
                    titleTooltip: '当前信息的唯一编号，数据主键',
                    sortable: true
                }, {
                    field: 'store_id',
                    title: '平台商家',
                    titleTooltip: '发布信息隶属的平台商家',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.store_name;
                    }
                }, {
                    field: 'activity_types',
                    title: '活动类型',
                    titleTooltip: '拓客活动隶属的活动类型',
                    sortable: true,
                }, {
                    field: 'tmp_id',
                    title: '使用模板',
                    titleTooltip: '发布信息隶属的平台商家',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.tmp_name;
                    }
                },
                    {
                        field: 'title',
                        title: '活动名称',
                        titleTooltip: '创建拓客活动的名称',
                        sortable: true,
                    }, {
                        field: 'start_time',
                        title: '开始时间',
                        titleTooltip: '创建拓客活动开始时间',
                        sortable: true,
                    }, {
                        field: 'end_time',
                        title: '结束时间',
                        titleTooltip: '创建拓客活动结束时间',
                        sortable: true,
                    }, {
                        field: 'status',
                        title: '活动状态',
                        titleTooltip: '创建拓客活动当前状态',
                        sortable: true,
                        formatter: statusFormatter
                    }, {
                        field: 'is_rec',
                        title: '今日推荐',
                        titleTooltip: '创建拓客活动是否是案例活动',
                        sortable: true,
                        formatter: recFormatter
                    }, {
                        field: 'nav_list',
                        title: '聚合导航',
                        titleTooltip: '导航栏目的类型',
                        sortable: true,
                        formatter: function (value, row, index) {
                            var returnHtml = '';
                            for(var i = 0; i < value.length; i++) {
                                returnHtml = returnHtml + "<span class='label  bg-teal'>"+ value[i] +"</span> ";
                            }
                            return returnHtml;
                        }
                    }, {
                        field: 'attr_list',
                        title: '聚合属性',
                        titleTooltip: '聚合活动的属性',
                        sortable: true,
                        formatter: function (value, row, index) {
                            var returnHtml = '';
                            for(var i = 0; i < value.length; i++) {
                                returnHtml = returnHtml + "<span class='label  bg-teal'>"+ value[i] +"</span> ";
                            }
                            console.log(returnHtml);
                            return returnHtml;
                        }
                    }, {
                        field: 'createtime',
                        title: '创建时间',
                        titleTooltip: '创建信息的时间',
                        sortable: true,
                    }, {
                        field: 'updatetime',
                        title: '编辑时间',
                        titleTooltip: '编辑信息的时间',
                        sortable: true,
                    }, {
                        field: 'action',
                        title: '操作',
                        titleTooltip: '点击下方按钮对信息进行操作',
                        width: 60,
                        events: operateEvents,
                        formatter: operateFormatter
                    }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                pageSize: params.limit,  //每页大小
                page: params.offset / params.limit + 1,//页码
                sortOrder: params.order,//排序
                sortName: params.sort,//排序字段
                store_id: $("#SearchStore").val(), //平台商家
                key: $("#SearchKey").val(), //关键词
                activity_types: $("#SearchTypes").val(), //活动类型
                status: $("#SearchStatus").val(), //信息状态
                process: $("#SearchProcess").val(), //信息状态
                nav_id: $("#SearchNav").val(), //导航类型
                attr_id: $("#SearchAttr").val(), //属性类型
                timer: $("#SearchTime").val(), //信息状态
            };
            return temp;
        };
        return oTableInit;
    };

    function operateFormatter(value, row, index) {
        return [
            '<button class="modify btn btn-success btn-xs" href="javascript:void(0)" title="修改">',
            '<i class="fa fa-edit"></i>修改',
            '</button>  ',
            '<button class="remove btn btn-danger btn-xs" href="javascript:void(0)" title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</button>',
        ].join('');
    }
    window.operateEvents = {
        'click .modify': function (e, value, row, index) {
            var editurl = "{php echo $this->createWebUrl('obj_home', array('act' => 'modify'));}&id=$";
            window.location.href = editurl.replace('$', row.id);
        },
        'click .remove': function (e, value, row, index) {
            //询问框
            layer.open({
                content: '你确定要删除吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "{php echo $this->createWebUrl('obj_home', array('act' => 'del'));}",
                        data: {
                            id: row.id
                        },
                        success: function (data, status) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        }
                    });
                    layer.close(index);
                }
            });
        }
    };

    function statusFormatter(value, row, index) {
        return [
            '<input name="status"   rowid="' + row.id + '" type="checkbox" data-size="mini" data-on-text="开启" data-off-text="关闭" ' + (row.status == 1 ? "checked" : "") + ' />'
        ].join('');
    }
    function recFormatter(value, row, index) {
        return [
            '<input name="rec"   rowid="' + row.id + '" type="checkbox" data-size="mini" data-on-text="开启" data-off-text="关闭" ' + (row.is_rec == 1 ? "checked" : "") + ' />'
        ].join('');
    }

    //加载成功时执行
    $('#tb_bandlist').on('load-success.bs.table column-switch.bs.table', function (data) {
        $('#tb_bandlist').bootstrapTable('resetView');
        //绑定更改状态操作
        $(':checkbox[name="status"]').bootstrapSwitch({
            onSwitchChange: function (event, state) {
                var status = state ? 1 : 0;
                var rowId = parseInt($(this).attr("rowid"));
                $.ajax({
                    type: "post",
                    dataType:'json',
                    url: "{php echo $this->createWebUrl('obj_home', array('act' => 'setStatus'));}",
                    data: {
                        "id": rowId,
                        "status": status
                    },
                    success: function (jsonData, status) {
                        if (jsonData.status == 1) {
                            Command: toastr["success"](jsonData.msg, "成功提示");
                        }
                        else {
                            Command: toastr["error"](jsonData.msg, "错误提示");
                        }
                    }
                });
            }
        });
        //绑定更改状态操作
        $(':checkbox[name="rec"]').bootstrapSwitch({
            onSwitchChange: function (event, state) {
                var cases = state ? 1 : 0;
                var rowId = parseInt($(this).attr("rowid"));
                $.ajax({
                    type: "post",
                    dataType:'json',
                    url: "{php echo $this->createWebUrl('obj_home', array('act' => 'setRec'));}",
                    data: {
                        "id": rowId,
                        "rec": cases
                    },
                    success: function (jsonData, status) {
                        if (jsonData.status == 1) {
                            Command: toastr["success"](jsonData.msg, "成功提示");
                        }
                        else {
                            Command: toastr["error"](jsonData.msg, "错误提示");
                        }
                    }
                });
            }
        });
    });
    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            $("#btn_delete").click(function () {
                var arrselections = $("#tb_bandlist").bootstrapTable('getSelections');
                if (arrselections.length <= 0) {
                    Command: toastr["warning"]("请选择需要操作的数据！", "选择提示");
                    return;
                }

                var ids = '';
                for (var i = 0; i < arrselections.length; i++) {
                    ids += arrselections[i].id + ",";
                }
                ids = ids.substr(0, ids.length - 1);

                //询问框
                layer.open({
                    content: '关联数据也将被清除，你确定要删除吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        $.ajax({
                            type: "post",
                            dataType:'json',
                            url: "{php echo $this->createWebUrl('obj_home', array('act' => 'delList'));}",
                            data: {"ids": ids},
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                        layer.close(index);
                    }
                });
            });
            //查询操作
            $("#btn_query").click(function () {
                $("#tb_bandlist").bootstrapTable('refresh');
            });
            //创建操作
            $("#btn_add").click(function () {
                window.location.href = "{php echo $this->createWebUrl('obj_home', array('act' => 'modify'));}";
            });

        };
        return oInit;
    };

</script>
</body>
</html>