<!DOCTYPE html>
<html lang="zh-cn">
{php include $this->template('common/header')}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {php include $this->template('common/top')}
    <!-- 左侧导航 -->
    {php include $this->template('common/sidebar')}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>
                {$title} - {$objModel['title']}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebAppUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li class="active">活动管理</li>
                <li class="active">{$title}</li>
                <li class="active">奖项</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="{php echo $this->createWebAppUrl('obj_activity', array('act' => 'index'));}">返回活动</a></li>
                            <li class="active"><a href="">奖项列表</a></li>
                            <li><a href="{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'modify','aid' => $aid));}">创建奖项</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-search"></i> 筛选条件</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i></button>
                                        <button class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <form id="formSearch" class="form-horizontal">
                                    <div class="box-body">
                                        <div class="row">
                                            <label for="SearchKey" class="col-sm-1 control-label">奖项名称</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="SearchKey"
                                                       placeholder="奖项名称/奖项编号">
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTypes">奖项类型</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchTypes">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $prizeTypes $type $value}
                                                    <option value="{$type}">{$value}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTime">创建时间</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="SearchTime"
                                                           placeholder="开始时间 - 结束时间" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="btn-group pull-right">
                                            <button id="btn_query" type="button" class="btn btn-sm btn-info">开始检索
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-default">重置检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="box" class="table-responsive">
                                <div id="toolbar" class="btn-group">
                                    <button id="btn_add" type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;创建
                                    </button>
                                    <button id="btn_delete" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
                                    </button>
                                </div>
                                <table id="tb_bandlist" class="table text-nowrap" data-reorderable-columns="true" ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="copyTarget" style="opacity: 0;"></div>
    </div>
    <!-- 底部版权 -->
    {php include $this->template('common/footer')}
</div>
<script>
    $(function () {
        //设置选中导航
        SelectNav("我创建的活动");

        require(["daterangepicker"], function () {
            //时间搜索
            $('#SearchTime').daterangepicker({
                format: "YYYY/MM/DD"
            });
        });
        myrequire(['select2', 'bootstrap-switch', 'bootstrap-editable', 'bootstrap-table'], function () {
            myrequire(['bootstrap-table-zh-cn', 'bootstrap-table-editable','bootstrap-table-fixed-columns'], function () {
                $(".select2").select2();
                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();
                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();
            });
        });

    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_bandlist').bootstrapTable({
                url: "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'getJsonList','aid' => $aid));}",         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortName: "id",                   //排序字段
                sortOrder: "desc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 575,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                fixedColumns: true,                    //冻结列开启关闭
                fixedNumber: 1,                        //冻结列数量
                onLoadError: function () {  //加载失败时执行
                    Command: toastr["error"]("对不起，网络繁忙，请稍后再试！", "错误提示");
                },
                rowStyle: function (row, index) {
                    var style={css:{'line-height':'48px'}};
                    return style;
                },
                onEditableSave: function (field, row, oldValue, $el) {
                    $('#tb_bandlist').bootstrapTable('resetView');
                    if(field == "sort"){
                        $.ajax({
                            type: "post",
                            dataType:'json',
                            url: "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'setSort','aid' => $aid));}",
                            data: {
                                id: row.id,
                                sort: row.sort
                            },
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                } else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }
                    else if(field == "odds"){
                        $.ajax({
                            type: "post",
                            dataType:'json',
                            url: "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'setOdds','aid' => $aid));}",
                            data: {
                                id: row.id,
                                odds: row.odds
                            },
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                } else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: '编号',
                    titleTooltip: '当前信息的唯一编号，数据主键',
                    sortable: true
                },{
                    field: 'picurl',
                    title: '奖品图片',
                    titleTooltip: '发放红包的奖品图片',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return " <img height='48' width='48' src='"+ value +"' alt='"+ row.title +"'>"
                    }
                }, {
                    field: 'name',
                    title: '奖项名称',
                    titleTooltip: '创建分享红包活动的奖品名称',
                    sortable: true,
                }, {
                    field: 'types',
                    title: '奖项类型',
                    titleTooltip: '发放红包的红包类型 ',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return "<span class='label bg-black'>谢谢参与</span>";
                        }else if (value == 1) {
                            return "<span class='label bg-aqua'>账户积分</span>";
                        }else if(value == 2)  {
                            return "<span class='label bg-gray'>账户余额</span>";
                        }else if(value == 3)  {
                            return "<span class='label bg-green'>微信红包</span>";
                        }else if(value == 4)  {
                            return "<span class='label bg-purple'>实物商品</span>";
                        }else if(value == 5)  {
                            return "<span class='label bg-teal'>商家卡券</span>";
                        }
                    }
                }, {
                    field: 'number',
                    title: '奖品数量',
                    titleTooltip: '发放奖品的数量',
                    sortable: true
                }, {
                    field: 'surplus',
                    title: '剩余数量',
                    titleTooltip: '奖品当前剩余数量',
                    sortable: true
                }, {
                    field: 'odds',
                    title: '中奖概率',
                    titleTooltip: '奖品中奖概率',
                    sortable: true,
                    editable: {
                        type: 'text',
                        title: '中奖概率',
                        validate: function (value) {
                            value = $.trim(value);
                            if (!value) {
                                return '请填写中奖概率！';
                            }
                            if (!/^\d+$/.test(value)) {
                                return '请填写数字！'
                            }
                            return '';
                        }
                    },
                }, {
                    field: 'virtual_name',
                    title: '奖品内容',
                    titleTooltip: '发放红包的奖品内容',
                    formatter: function (value, row, index) {
                        if (row.types == 0) {
                            return "谢谢参与：感谢您的参与！";
                        }else if (row.types == 1) {
                            return "账户积分：" + row.score;
                        }else if(row.types == 2)  {
                            return "账户余额：" + row.sys;
                        }else if(row.types == 3)  {
                            return "微信红包：" + row.money;
                        }else if(row.types == 4)  {
                            return "实物商品：" + row.name;
                        }else if(row.types == 5)  {
                            return "商家卡券：" + row.card_name;
                        }
                    }
                }, {
                    field: 'status',
                    title: '奖项状态',
                    titleTooltip: '创建幻灯特效的当前状态',
                    sortable: true,
                    formatter: statusFormatter
                },{
                    field: 'sort',
                    title: '排序',
                    sortable: true,
                    editable: {
                        type: 'text',
                        title: '排序',
                        validate: function (value) {
                            value = $.trim(value);
                            if (!value) {
                                return '请填写排序！';
                            }
                            if (!/^\d+$/.test(value)) {
                                return '请填写数字！'
                            }
                            var data = $('#tb_bandlist').bootstrapTable('getData'),
                                    index = $(this).parents('tr').data('index');
                            return '';
                        }
                    },
                },  {
                    field: 'createtime',
                    title: '创建时间',
                    titleTooltip: '创建信息的时间',
                    sortable: true,
                }, {
                    field: 'updatetime',
                    title: '编辑时间',
                    titleTooltip: '编辑信息的时间',
                    sortable: true,
                }, {
                    field: 'action',
                    title: '操作',
                    titleTooltip: '点击下方按钮对信息进行操作',
                    width: 60,
                    events: operateEvents,
                    formatter: operateFormatter
                }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                //search: params.search,
                pageSize: params.limit,  //每页大小
                page: params.offset / params.limit + 1,//页码
                sortOrder: params.order,//排序
                sortName: params.sort,//排序字段
                key: $("#SearchKey").val(), //关键词
                types: $("#SearchTypes").val(), //信息状态
                timer: $("#SearchTime").val() //信息状态
            };
            return temp;
        };
        return oTableInit;
    };

    function operateFormatter(value, row, index) {
        return [
            '<button class="modify btn btn-success btn-xs" href="javascript:void(0)" title="修改">',
            '<i class="fa fa-edit"></i>修改',
            '</button>  ',
            '<button class="remove btn btn-danger btn-xs" href="javascript:void(0)" title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</button>',
        ].join('');
    }
    window.operateEvents = {
        'click .modify': function (e, value, row, index) {
            var editurl = "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'modify','aid' => $aid));}&id=$";
            window.location.href = editurl.replace('$', row.id);
        },
        'click .remove': function (e, value, row, index) {
            //询问框
            layer.open({
                content: '你确定要删除吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        type: "post",
                        dataType:'json',
                        url: "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'del','aid' => $aid));}",
                        data: {
                            id: row.id
                        },
                        success: function (data) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        }
                    });
                    layer.close(index);
                }
            });
        }
    };

    function statusFormatter(value, row, index) {
        return [
            '<input name="status"   rowid="' + row.id + '" type="checkbox" data-size="mini" data-on-text="开启" data-off-text="关闭" ' + (row.status == 1 ? "checked" : "") + ' />'
        ].join('');
    }

    //加载成功时执行
    $('#tb_bandlist').on('load-success.bs.table column-switch.bs.table', function (data) {
        $('#tb_bandlist').bootstrapTable('resetView');
        //绑定更改状态操作
        $(':checkbox[name="status"]').bootstrapSwitch({
            onSwitchChange: function (event, state) {
                var status = state ? 1 : 0;
                var rowId = parseInt($(this).attr("rowid"));
                $.ajax({
                    type: "post",
                    dataType:'json',
                    url: "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'setStatus','aid' => $aid));}",
                    data: {
                        "id": rowId,
                        "status": status
                    },
                    success: function (jsonData, status) {
                        if (jsonData.status == 1) {
                            Command: toastr["success"](jsonData.msg, "成功提示");
                        }
                        else {
                            Command: toastr["error"](jsonData.msg, "错误提示");
                        }
                    }
                });
            }
        });
    });

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            $("#btn_delete").click(function () {
                var arrselections = $("#tb_bandlist").bootstrapTable('getSelections');
                if (arrselections.length <= 0) {
                    Command: toastr["warning"]("请选择需要操作的数据！", "选择提示");
                    return;
                }

                var ids = '';
                for (var i = 0; i < arrselections.length; i++) {
                    ids += arrselections[i].id + ",";
                }
                ids = ids.substr(0, ids.length - 1);

                //询问框
                layer.open({
                    content: '你确定要删除吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        $.ajax({
                            type: "post",
                            dataType:'json',
                            url: "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'delList','aid' => $aid));}",
                            data: {"ids": ids},
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                        layer.close(index);
                    }
                });
            });
            //查询操作
            $("#btn_query").click(function () {
                $("#tb_bandlist").bootstrapTable('refresh');
            });
            //创建操作
            $("#btn_add").click(function () {
                window.location.href = "{php echo $this->createWebAppUrl('obj_poker_prize', array('act' => 'modify','aid' => $aid));}";
            });
        };
        return oInit;
    };

</script>
</body>
</html>