<!DOCTYPE html>
<html lang="zh-cn">
{template 'store/common/header'}
<link rel="stylesheet" href="{__PLUGIN__}/dropload/dropload.css">
<body>
<section class="rel" style="height: 1.08rem;">
    <h2 class="screen fn font28 bgfff" style=" position: fixed;z-index: 10;width: 100%;">
        <dl class="retrie">
            <dt class="bor_b pd0_24">
                <a id="filter" href="javascript:;" style="width:auto!important">筛选<i class="sortIconI"></i> </a>
            </dt>
            <dd class="default">
                <form>
                    <!--筛选弹出层-->
                    <section class="interal_filter downlist">
                        <ul class="form">
                            <li>
                                <span>用户信息：</span>
                                <section>
                                    <input type="text" id="searchKey"
                                           placeholder="微信昵称/手机号码/OPENID" value="{$openid}">
                                </section>
                            </li>
                            <li>
                                <span>账号状态：</span>
                                <section>
                                    <p class="select_box rel">
                                        <select id="searchStatus">
                                            <option value="" selected="selected">请选择</option>
                                            <option value="1">启用</option>
                                            <option value="0">禁用</option>
                                        </select>
                                    </p>
                                </section>
                            </li>
                        </ul>
                        <section class="retrieval mt24 clearfix">
                            <button type="reset" class="recharge_but font32"> 重置</button>
                            <button type="button" class="submit_but font32" id="btnSearch"> 搜索</button>
                        </section>
                    </section>
                </form>
            </dd>
        </dl>
    </h2>
</section>
<section class="h24"></section>
<!--中心区域-->
<section class="pd0_24 bgfff" style="padding-bottom: 1.4rem;" id="ContentList">
    <ul class="mtaff" id="LoadLists">

    </ul>
</section>
<section class="h24"></section>
<section class="buttonBox">
    <section class="buttonFloat">
        <a href="{php echo $this->createMobileUrl('store.store_member',array('act'=>'index'))}" class="db font32 yellowBtn" style="background: #FFD112;">商家中心</a>
    </section>
</section>
<script src="{__PLUGIN__}/dropload/dropload.js"></script>
<script src="{__PLUGIN__}/artTemplate/template-native-debug.js"></script>

<script id="listtpl" type="text/html">
    <% for(var i = 0; i < rows.length; i++){ %>
    <li data-id="<%= rows[i].id %>">
        <img class="tx" src="<%= rows[i].headurl %>" alt=""/>
        <h2 class="fn clearfix">
            <a href="javascript:;" class="delete fr"><img src="{__MOBILE_STORE_IMG__}/delete.png" alt=""/></a>
            <a href="javascript:;" class="edit fr"><img src="{__MOBILE_STORE_IMG__}/edit.png" alt=""/></a>
            <span><%= rows[i].nickname %></span>
            <span class="ml10">
            <%if(rows[i].sex==1){%>
                <img class="man" src="{__MOBILE_STORE_IMG__}/man.png" alt=""/>
            <%}else if(rows[i].sex==2){%>
                <img class="woman" src="{__MOBILE_STORE_IMG__}/woman.png"  alt=""/>
            <%}else{%>
            <img class="unknown" src="{__MOBILE_STORE_IMG__}/unknown.png" alt=""/>
            <%}%>
            </span>
            <%if(rows[i].status==1){%>
            <i class="ml10 normal">正常</i>
            <%}else{%>
            <i class="ml10 prohibit">禁用</i>
            <%}%>
        </h2>
        <section class="account_info font26 clearfix">
            <section class="li">账户余额：<span><%= rows[i].money %></span></section>
            <section class="li">账户积分：<span><%= rows[i].score %></span></section>
        </section>
    </li>
    <% } %>
</script>

<script>
    $(function () {
        //点击筛选
        $('#filter').click(function(){
            var $filter = $(this);
            if($filter.hasClass('up')){
                $filter.removeClass('up');
                $('.downlist').hide();
            }else{
                $filter.addClass('up');
                $('.downlist').show();
            }
        });

        var page = 0;
        var pageSize = 10;
        var delCount = 0;
        var dropload_me;
        var is_first = true;

        //点击搜索
        $('#btnSearch').click(function() {
            //隐藏筛选弹框
            $('#filter').removeClass('up');
            $('.downlist').hide();

            //筛选参数
            window.searchKey = $('#searchKey').val();
            window.searchStatus = $('#searchStatus').val();

            //重新从第一页加载
            if(dropload_me){
                $('#LoadLists').empty();
                page = 0;
                dropload_me.unlock();
                dropload_me.noData(false);
                dropload_me.resetload();
            }

            if(is_first){
                is_first = false;
                $('#ContentList').dropload({
                    scrollArea : window,
                    domUp : {
                        domClass   : 'dropload-up',
                        domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
                        domUpdate  : '<div class="dropload-update">↑释放更新</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>数据加载中...</div>'
                    },
                    domDown : {
                        domClass   : 'dropload-down',
                        domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>数据加载中...</div>',
                        domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
                    },
                    loadUpFn : function(me){
                        $.ajax({
                            type: 'GET',
                            url: "{php echo $this->createMobileUrl('store.user_account', array('act' => 'getJsonList'));}",
                            data:{
                                "page":1,
                                "pageSize":pageSize,
                                "delCount":0,
                                "key":window.searchKey,
                                "status":window.searchStatus,
                            },
                            dataType: 'json',
                            success: function(data){
                                var html = template("listtpl", data);
                                $('#LoadLists').html(html);
                                // 每次数据加载完，必须重置
                                me.resetload();
                                // 重置页数，重新获取loadDownFn的数据
                                page = 1;
                                delCount = 0;
                                // 解锁loadDownFn里锁定的情况
                                me.unlock();
                                me.noData(false);
                            },
                            error: function(xhr, type){
                                layer.open({
                                    content: '系统错误，稍后重试！'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                                // 即使加载出错，也得重置
                                me.resetload();
                            }
                        });
                    },
                    loadDownFn : function(me){
                        dropload_me = me;
                        page++;
                        // 拼接HTML
                        var result = '';
                        $.ajax({
                            type: 'GET',
                            url: "{php echo $this->createMobileUrl('store.user_account', array('act' => 'getJsonList'));}",
                            data:{
                                "page":page,
                                "pageSize":pageSize,
                                "delCount":delCount,
                                "key":window.searchKey,
                                "status":window.searchStatus,
                            },
                            dataType: 'json',
                            success: function(data){
                                var arrLen = data.rows.length;
                                if(arrLen > 0){
                                    var html = template("listtpl", data);
                                    // 如果没有数据
                                }else{
                                    // 锁定
                                    me.lock();
                                    // 无数据
                                    me.noData();
                                }

                                // 插入数据到页面，放到最后面
                                $('#LoadLists').append(html);
                                // 每次数据插入，必须重置
                                me.resetload()
                            },
                            error: function(xhr, type){
                                layer.open({
                                    content: '系统错误，稍后重试！'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                                // 即使加载出错，也得重置
                                me.resetload();
                            }
                        });
                    },
                    threshold : 50
                });
            }
        }).trigger("click");

        //编辑信息
        $('#LoadLists').on('click','.edit',function(){
            var editobj = $(this);
            var Rowid = editobj.parents('li').data("id");
            window.location.href = "{php echo $this->createMobileUrl('store.user_account',array('act'=>'modify'));}&id="+Rowid;
        });

        //删除信息
        $('#LoadLists').on('click','.delete',function(){
            var delobj = $(this);
            var Rowid = delobj.parents('li').data("id");
            //询问框
            layer.open({
                content: '你确定要删除吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "{php echo $this->createMobileUrl('store.user_account', array('act' => 'del'));}",
                        data: {
                            id: Rowid
                        },
                        success: function (jsonData, status) {
                            if (jsonData.status == 1) {
                                delCount= delCount+1;
                                delobj.parents('li').remove();
                                layer.open({
                                    content: '删除成功！'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                            }
                            else {
                                layer.open({
                                    content: jsonData.msg
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                            }
                        }
                    });
                    layer.close(index);
                }
            });
        });
    });
</script>
</body>
</html>
