<!DOCTYPE html>
<html>
<head>
	<title>{$_W['slwl']['lang']['sys_name']}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	{template 'public/header'}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{template 'public/top'}
	{template 'public/left'}

	<div class="layui-body">
		<div class="layui-main">
			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li {if $operation == 'display'} class="layui-this" {/if}>
						<a href="{php echo webUrl('',['do'=>'content/store'])}">门店管理</a>
					</li>
					{if empty($one['id']) && $operation == 'post'}
					<li class="layui-this">
						<a href="{php echo webUrl('',['do'=>'content/store','op'=>'post'])}">添加</a>
					</li>
					{/if}
					{if ($one['id']) && $operation == 'post'}
					<li class="layui-this">
						<a href="{php echo webUrl('',['do'=>'content/store','op'=>'post','id'=>$one['id']])}">编辑</a>
					</li>
					{/if}
				</ul>
			</div>

		{if $operation == 'display'}
			<div class="layui-form">
				<!-- <div class="box-tools">
					<div class="box-search">
						<div class="layui-input-inline">
							<input type="text" name="keyword" value="{$keyword}" class="layui-input" placeholder="标题">
						</div>
						<div class="layui-input-inline">
							<button class="layui-btn" lay-submit lay-filter="table-search" id="table-search">搜索</button>
						</div>
					</div>
				</div> -->
				<div class="box-list-img">
					<table id="sl-table" lay-filter="sl-table"></table>
				</div>
			</div>

			<div class="script">
				<script type="text/html" id="toolbar">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
						<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">批量删除</button>
					</div>
				</script>
				<script type="text/html" id="thumb">
					<div class="box-table-img">
						<img src="{{d.image_format}}" data-url="{{d.image_format}}"
							onerror="this.src='{MODULE_URL}template/public/image/nopic.png'">
					</div>
				</script>
				<script type="text/html" id="operation">
					<a href="javascript:;" class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
					<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
				</script>
				<script>
					layui.use(['laypage', 'layer', 'table', 'form'], function() {
						my_laypage = layui.laypage;
						my_layer = layui.layer;
						my_table = layui.table;
						my_form = layui.form;

						url_post = "{php echo webUrl('',['do'=>'content/store','op' =>'post'])}";
						url_list = "{php echo webUrl('',['do'=>'content/store','op'=>'display_table'])}";
						url_delete = "{php echo webUrl('',['do'=>'content/store','op'=>'delete'])}";

						table_list = my_table.render({
							elem: '#sl-table'
							, toolbar: '#toolbar'
							, even: false
							, url: url_list
							, cols: [[
								// type: 'numbers',
								{type: 'checkbox'}
								, {field: 'id', title: 'ID', width: 60,  sort: true}
								, {field: 'sort', title: '排序', width: 80,  sort: true}
								, {field: 'name', title: '门店名', sort: true}
								, {field: 'thumb', title: '门店图片', width: 90, templet: '#thumb'}
								, {field: 'address', title: '门店地址', sort: true}
								, {title: '操作', templet: '#operation'}
							]]
							, height: 'full-190'
							, page: {
								theme: '#1E9FFF'
							}
						});
					});
				</script>
			</div>


		{else if $operation == 'post'}
			<form class="layui-form fixed" action="" method="post" enctype="multipart/form-data" id="data-form">
				<input type="hidden" name="id" value="{$one['id']}" />
				<div class="layui-tab-content">
					<!-- 门店名 -->
					<div class="layui-form-item">
						<label class="layui-form-label">门店名</label>
						<div class="layui-input-block">
							<input type="text" name="store" lay-verify="required" class="layui-input" value="{$one['name']}">
						</div>
					</div>
					<!-- 排序 -->
					<div class="layui-form-item">
						<label class="layui-form-label">排序</label>
						<div class="layui-input-block">
							<input type="text" name="sort" class="layui-input" value="{$one['sort']}" placeholder="数字越大越靠前">
						</div>
					</div>
					<!-- 门店地址 -->
					<div class="layui-form-item">
						<label class="layui-form-label">门店地址</label>
						<div class="layui-input-block">
							<input type="text" name="address" lay-verify="required" class="layui-input" value="{$one['address']}">
						</div>
					</div>
					<!-- 地铁站名 -->
					<div class="layui-form-item">
						<label class="layui-form-label">地铁站名</label>
						<div class="layui-input-block">
							<input type="text" name="subway_name" class="layui-input" value="{$one['subway_name']}">
						</div>
					</div>
					<!-- 地铁步行距离 -->
					<div class="layui-form-item">
						<label class="layui-form-label">地铁步行距离</label>
						<div class="layui-input-block">
							<input type="text" name="subway_distance" class="layui-input" value="{$one['subway_distance']}">
							<div class="layui-form-mid layui-word-aux">单位：米</div>
						</div>
					</div>
					<!-- 地铁乘坐提示 -->
					<div class="layui-form-item">
						<label class="layui-form-label">地铁乘坐提示</label>
						<div class="layui-input-block">
							<textarea name="subway_description" class="layui-textarea">{$one['subway_description']}</textarea>
						</div>
					</div>
					<!-- 公交站名 -->
					<div class="layui-form-item">
						<label class="layui-form-label">公交站名</label>
						<div class="layui-input-block">
							<input type="text" name="bus_stop_name" lay-verify="required" class="layui-input" value="{$one['bus_stop_name']}">
						</div>
					</div>
					<!-- 公交步行距离 -->
					<div class="layui-form-item">
						<label class="layui-form-label">公交步行距离</label>
						<div class="layui-input-block">
							<input type="text" name="bus_stop_distance" lay-verify="required" class="layui-input" value="{$one['bus_stop_distance']}">
							<div class="layui-form-mid layui-word-aux">单位：米</div>
						</div>
					</div>
					<!-- 公交乘坐提示 -->
					<div class="layui-form-item">
						<label class="layui-form-label">公交乘坐提示</label>
						<div class="layui-input-block">
							<textarea name="bus_stop_description" class="layui-textarea">{$one['bus_stop_description']}</textarea>
						</div>
					</div>
					<!-- 自驾目的地 -->
					<div class="layui-form-item">
						<label class="layui-form-label">自驾目的地</label>
						<div class="layui-input-block">
							<input type="text" name="drive_place" lay-verify="required" class="layui-input" value="{$one['drive_place']}">
						</div>
					</div>
					<!-- 自驾提示 -->
					<div class="layui-form-item">
						<label class="layui-form-label">自驾提示</label>
						<div class="layui-input-block">
							<textarea name="drive_description" class="layui-textarea" lay-verify="required">{$one['drive_description']}</textarea>
						</div>
					</div>
					<!-- 推荐到达方式 -->
					<div class="layui-form-item">
						<label class="layui-form-label">推荐到达方式</label>
						<div class="layui-input-block">
							<select name="way" lay-verify="required">
								<option value="">请选择...</option>
								<option value="1" {if $one['way']=='1' }selected{/if}>公交</option>
								<option value="2" {if $one['way']=='2' }selected{/if}>地铁</option>
								<option value="3" {if $one['way']=='3' }selected{/if}>自驾</option>
							</select>
						</div>
					</div>
					<!-- 展示图片 -->
					<div class="layui-form-item">
						<label class="layui-form-label">展示图片</label>
						<div class="layui-input-block">
							{php echo slwl_tpl_form_field_image('image', $one['image']);}
							<div class="layui-form-mid layui-word-aux">推荐尺寸：331 x 172，或同比例</div>
						</div>
					</div>
					<!-- 地理位置 -->
					<div class="layui-form-item">
						<label class="layui-form-label">地理位置</label>
						<div class="layui-input-block">
							{php echo slwl_tpl_form_field_coordinate('map', $tmp_map)}
						</div>
					</div>
				</div>
				<div class="layui-tab-content fixed" id="data-submit">
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="save">保存</button>
							<button class="layui-btn" lay-submit lay-filter="save" data-type="saveAndAdd">保存并新增</button>
							<a href="{php echo webUrl('',['do'=>'content/store'])}" class="layui-btn layui-btn-primary">取消</a>
							<input type="hidden" name="token" value="{$_W['token']}" />
						</div>
					</div>
				</div>
			</form>

			<script>
				layui.use('form', function(){
					var form = layui.form;

					form.on('submit(save)', function(data){
						let subType = data.elem.dataset.type;
						let url = "{php echo webUrl('',['do'=>'content/store','op'=>'post'])}";
						var $obj = $(this);

						if (!$obj.hasClass('lock')) {
							$obj.addClass('lock'); // 不能再点击

							$.ajax({
								type: "POST",
								url: url,
								dataType: 'json',
								data: data.field,
								success: function (rs) {
									if (rs && rs.code.toString() === '0') {
										layer.msg('保存成功' , {
											time: 500
										}, function () {
											if (subType && subType.toString() === 'saveAndAdd') {
												window.location.href = "{php echo webUrl('',['do'=>'content/store','op'=>'post'])}";
											} else {
												window.location.href = "{php echo webUrl('',['do'=>'content/store'])}";
											}
										});
									} else {
										layer.msg(rs.msg, {
											offset: '20%',
										});
									}
									$obj.removeClass('lock');
								},
								error: function () {
									layer.msg('保存过程发生错误，请与管理员联系', {
										offset: '20%',
									});
									$obj.removeClass('lock');
								}
							});
						}

						return false;
					});
				});
			</script>
		{/if}
		</div>
	</div>

	{template 'public/copyright'}
</div>

{template 'public/footer'}
</body>
</html>
