{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/css/style.css" />
<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/swal/dist/sweetalert2.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/bootstrap-select/bootstrap-select.min.css" />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            订单
        </h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{url 'site/entry/Order',array('m'=>$_GPC['m'],'version_id'=>$_GPC['version_id'])}">订单</a></li>
            <li role="presentation"><a href="{url 'site/entry/Group',array('m'=>$_GPC['m'],'op'=>'index','version_id'=>$_GPC['version_id'])}">团购订单</a></li>
            <li role="presentation"><a href="{url 'site/entry/Group',array('m'=>$_GPC['m'],'op'=>'index2','version_id'=>$_GPC['version_id'])}">团购个人订单</a></li>
            <li role="presentation"><a href="{url 'site/entry/Store_order',array('m'=>$_GPC['m'],'version_id'=>$_GPC['version_id'])}">预约</a></li>
            <li role="presentation"><a href="{url 'site/entry/Prize_order',array('m'=>$_GPC['m'],'version_id'=>$_GPC['version_id'])}">中奖记录</a></li>
            <li role="presentation"><a href="{url 'site/entry/Order',array('m'=>$_GPC['m'],'op'=>'mall','version_id'=>$_GPC['version_id'])}">商城订单</a></li>
            <li role="presentation"><a href="{url 'site/entry/Order',array('m'=>$_GPC['m'],'op'=>'package','version_id'=>$_GPC['version_id'])}">套餐订单</a></li>
            <li role="presentation"><a href="{url 'site/entry/Order',array('m'=>$_GPC['m'],'op'=>'package_log','version_id'=>$_GPC['version_id'])}">套餐使用记录</a></li>
            <li role="presentation" class="active"><a href="{url 'site/entry/Order',array('m'=>$_GPC['m'],'op'=>'score','version_id'=>$_GPC['version_id'])}">积分兑换记录</a></li>
        </ul>
        <div class="ibox-content">
            <form action="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'package','version_id'=>$_GPC['version_id'])}" id="searchform" method="post">
                <div class="row" style="padding: 0 15px;">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="用户id" name="openid" value="{$openid}">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-default " style="margin-right:5px;">查询</button>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#selectUrl">导出Excel</a>
                    </div>
                </div>
            </form>
        </div>
        <form action="" method="post" class="form-horizontal form">
            <input type="hidden" name="token" value="{$_W['token']}">
            <div class="table-responsive panel-body">
                <table class="table-striped table-bordered table-hover dataTables-example table">
                    <thead class="navbar-inner">
                    <tr>
                        <th>兑换信息</th>
                        <th>用户信息</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $index $item}
                    <tr data-pei="{$item['pei']}">
                        <td><div class="type-parent">
                            商品：{$item['service_name']}<br/>
                            数量：{$item['member']}<br/>
                            积分：{$item['score']}<br/>
                        </div></td>
                        <td><div class="type-parent">
                            配送方式：{if $item['pei_type']==1}商家配送{else}自提{/if}<br/>
                            用户id：{$item['openid']}<br/>
                            姓名：{$item['address']['name']}<br/>
                            手机号：{$item['address']['mobile']}<br/>
                            地址：{$item['address']['address']}<br/>
                            {if $item['content']}
                            备注：{$item['content']}<br/>
                            {/if}
                            添加时间：{$item['createtime']}<br/>
                        </div></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                <div style="text-align: right;">
                    {$pager}
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="selectUrl">
    <div class="modal-dialog">
        <style>
            #selectUrl .modal-body {padding: 10px 15px;  }
            #selectUrl .tab-pane {  margin-top: 5px;  min-height: 400px;  max-height: 400px;  overflow-y: auto;  }
            #selectUrlTab {  margin-bottom: 10px;  }
            #selectUrl .modal-body nav {  margin-bottom: 5px; }
        </style>
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">选择导出字段</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="selectUrlTab">
                    <li role="presentation" class="active"><a href="#sut_shop">字段</a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="sut_shop">
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="service_name" title="商品">商品</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="member" title="数量">数量</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="score" title="积分">积分</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="pay_name" title="配送方式">配送方式</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="openid" title="用户id">用户id</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="name" title="姓名">姓名</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="mobile" title="手机号">手机号</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="address" title="地址">地址</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="content" title="备注">备注</nav>
                        <nav class="btn btn-default btn-sm" data-status="-1" data-name="createtime" title="添加时间">添加时间</nav>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="select-btn" type="button">导出</button>
                <button data-dismiss="modal" class="btn btn-default" id="select-close" type="button">关闭</button>
            </div>
            <script>
                $(function(){
                    $("#selectUrl .modal-body nav").click(function(){
                        var status=$(this).attr("data-status");
                        if(status==1){
                            $(this).removeClass("btn-primary").addClass("btn-default");
                        }else if(status==-1){
                            $(this).removeClass("btn-default").addClass("btn-primary");
                        }
                        $(this).attr("data-status",-status);
                    });
                    $("#select-btn").click(function(){
                        var data=[];
                        $("#selectUrl .modal-body").find("nav").each(function(){
                            var status=$(this).attr("data-status");
                            var name=$(this).attr("data-name");
                            var title=$(this).attr("title");
                            var data2={name:title,key:name,status:status};
                            data.push(data2);
                        });
                        var url="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'score_export','version_id'=>$_GPC['version_id'])}";
                        var param=$("#searchform").serialize();
                        url=url+'&xc='+JSON.stringify(data)+'&'+param;
                        location.href=url;
                        $("#select-close").click();
                    });
                })
            </script>
        </div>
    </div>
</div>
<script>
    require(["../addons/{php echo $_GPC['m']}/resource/swal/dist/sweetalert2.min.js","../addons/{php echo $_GPC['m']}/resource/bootstrap-select/bootstrap-select.min.js"],function(){
        $(function(){

        })
    })
</script>
{template 'common/footer'}