<!DOCTYPE html>
<html lang="zh-cn">
{template 'web/common/header'}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {template 'web/common/top'}
    <!-- 左侧导航 -->
    {template 'web/common/sidebar'}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>{$title} - {$actModel['title']}</h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">活动</li>
                <li class="active">{$title}</li>
                <li class="active">购买日志</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {if !empty($actModel)}
                            <li><a href="{php echo $this->createWebUrl('obj_union', array('act' => 'index'));}">返回活动</a></li>
                            {/if}
                            <li class="active"><a href="">数据列表</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-search"></i> 筛选条件</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i></button>
                                        <button class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <form id="formSearch" class="form-horizontal">
                                    <div class="box-body">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label for="SearchKey" class="col-sm-1 control-label">用户信息</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="SearchKey"
                                                       placeholder="购买用户OPENID" value="{$openid}">
                                            </div>
                                            <label for="SearchROpenId" class="col-sm-1 control-label">推荐用户</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="SearchROpenId"
                                                       placeholder="推荐用户OPENID" value="{$share_openid}">
                                            </div>
                                            <label for="SearchPayNumber" class="col-sm-1 control-label">支付编号</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="SearchPayNumber"
                                                       placeholder="购买支付编号">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label class="control-label col-sm-1" for="SearchTime">创建时间</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="SearchTime"
                                                           placeholder="开始时间 - 结束时间" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="btn-group pull-right">
                                            <button id="btn_query" type="button" class="btn btn-sm btn-info">开始检索
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-default">重置检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="box">
                                <table class="table table-hover">
                                    <tr>
                                        <th class="text-center">购买数量</th>
                                        <th class="text-center">微信支付</th>
                                        <th class="text-center">余额支付</th>
                                        <th class="text-center">支付金额</th>
                                        <th class="text-center">结算金额</th>
                                        {if $config['store_settlement_types'] == 1}
                                        <th class="text-center">已结金额</th>
                                        <th class="text-center">待结金额</th>
                                        {/if}
                                    </tr>
                                    <tr>
                                        <td class="text-center">{$total}</td>
                                        <td class="text-center">{$wxpaytotal}元</td>
                                        <td class="text-center">{$syspaytotal}元</td>
                                        <td class="text-center">{php echo ($wxpaytotal+$syspaytotal)}元</td>
                                        <td class="text-center">{php echo $endmoneytotal}元</td>
                                        {if $config['store_settlement_types'] == 1}
                                        <td class="text-center">{php echo $settlementtotal}元</td>
                                        <td class="text-center">{php echo ($endmoneytotal - $settlementtotal)}元 &nbsp;<a href="javascript:void(0);" id="btn_settlement"><i class="fa fa-sign-in"></i></a></td>
                                        {/if}
                                    </tr>
                                </table>
                            </div>
                            <div id="box" class="table-responsive">
                                <div id="toolbar" class="btn-group">
                                    <button id="btn_delete" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
                                    </button>
                                    <button id="btn_exportdata" type="button" class="btn btn-info">
                                        <span class="fa fa-download" aria-hidden="true"></span>&nbsp;导出数据
                                    </button>
                                </div>
                                <table id="tb_bandlist" class="table text-nowrap" data-reorderable-columns="true"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="copyTarget" style="opacity: 0;"></div>
    </div>
    <!-- 底部版权 -->
    {template 'web/common/footer'}
</div>
{if $plug_IsRefund}
<script id="refundtpl" type="text/html">
    <table class="table table-hover">
        <tr>
            <th width="20%">申请退款昵称</th>
            <td width="80%"><%= nickname %></td>
        </tr>
        <tr>
            <th width="20%">申请退款金额</th>
            <td width="80%"><%= endmoney  %>(微信支付:<%= (paymoney) %>,余额:<%= (mymoney) %>)</td></tr>
        </tr>
        <% if(status != 1){ %>
        <tr>
            <th width="20%">驳回原因</th>
            <td width="80%">
                <textarea class="form-control" cols="20" id="refuse" placeholder="驳回操作时请填写驳回原因..." rows="3"><%=note%></textarea>
            </td>
        </tr>
        <% } %>
    </table>
</script>
{/if}
<script>
    $(function () {
        SelectNav("联盟拓客");

        require(["daterangepicker"], function () {
            //时间搜索
            $('#SearchTime').daterangepicker({
                format: "YYYY/MM/DD"
            });
        });
        myrequire(['select2', 'bootstrap-switch', 'bootstrap-editable', 'bootstrap-table'], function () {
            myrequire(['bootstrap-table-zh-cn', 'bootstrap-table-editable', 'bootstrap-table-fixed-columns'], function () {
                $(".select2").select2();
                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();
                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();
            });
        });

    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_bandlist').bootstrapTable({
                url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'getJsonList','aid' => $aid));}",         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortName: "id",                   //排序字段
                sortOrder: "desc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 575,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                fixedColumns: true,                    //冻结列开启关闭
                fixedNumber: 1,                        //冻结列数量
                onLoadError: function () {  //加载失败时执行
                    Command: toastr["error"]("对不起，网络繁忙，请稍后再试！", "错误提示");
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: '编号',
                    titleTooltip: '当前信息的唯一编号，数据主键',
                    sortable: true
                }, {
                    field: 'nickname',
                    title: '微信昵称',
                    titleTooltip: '注册用户的微信昵称',
                    sortable: true,
                }, {
                    field: 'headurl',
                    title: '微信头像',
                    titleTooltip: '注册用户的微信头像',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return " <img height='30' width='30' src='"+ value +"' alt='"+ row.nickname +"'>"
                    }
                }, {
                    field: 'openid',
                    title: 'OPENID',
                    titleTooltip: '注册用户对于微信公众号的唯一身份标识',
                    sortable: true,
                },{
                    field: 'pay_openid',
                    title: '邀请人信息',
                    titleTooltip: '邀请购买的用户信息',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return " <img height='30' width='30' src='"+ row.pay_headurl +"' alt='"+ row.pay_nickname +"'> " + row.pay_nickname + " ("+ value +")";
                    }
                }, {
                    field: 'pay_number',
                    title: '支付编号',
                    titleTooltip: '用户的支付编号',
                    sortable: true,
                }, {
                    field: 'paymoney',
                    title: '微信支付',
                    titleTooltip: '用户微信支付的金额',
                    sortable: true,
                }, {
                    field: 'mymoney',
                    title: '余额抵扣',
                    titleTooltip: '用户余额抵扣的金额',
                    sortable: true,
                },{
                    field: 'endmoney',
                    title: '结算金额',
                    titleTooltip: '支付实际账户结算金额',
                    sortable: true,
                },  {
                    field: 'is_settlement',
                    title: '结算状态',
                    titleTooltip: '资金是否结算到商家账户',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return "<span class='label bg-red'>未结算</span>";
                        } else {
                            return "<span class='label bg-green'>已结算</span>";
                        }
                    }
                }, {
                    field: 'register_data',
                    title: '登记信息',
                    titleTooltip: '用户参与活动填写的登记信息',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var retrunString = "";
                        for(var i=0,l=value.length;i<l;i++){
                            retrunString = retrunString +  value[i]['Explain'] +"：" +  value[i]['Value'] +"  ";
                        }
                        return retrunString;
                    }
                },{
                    field: 'originname',
                    title: '溯源姓名',
                    titleTooltip: '溯源姓名',
                    sortable: true
                },{
                    field: 'originphone',
                    title: '溯源电话',
                    titleTooltip: '溯源电话',
                    sortable: true
                },{
                    field: 'createtime',
                    title: '创建时间',
                    titleTooltip: '创建信息的时间',
                    sortable: true,
                },{
                    field: 'action',
                    title: '操作',
                    titleTooltip: '点击下方按钮对信息进行操作',
                    width: 60,
                    events: operateEvents,
                    formatter: operateFormatter
                }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                //search: params.search,
                pageSize: params.limit,  //每页大小
                page: params.offset / params.limit + 1,//页码
                sortOrder: params.order,//排序
                sortName: params.sort,//排序字段
                openid: $("#SearchKey").val(), //关键词
                share_openid: $("#SearchROpenId").val(), //推荐用户
                paynumber: $("#SearchPayNumber").val(), //支付编号
                timer: $("#SearchTime").val() //创建时间
            };
            return temp;
        };
        return oTableInit;
    };

    function operateFormatter(value, row, index) {
        var  btn_delete = "";
        var  btn_refund = "";
        btn_delete = '<button class="remove btn btn-danger btn-xs" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-remove"></i>删除</button>';
       
         /*{if $plug_IsRefund }*/
         if(row.pay_number!=''){
            if(row.is_refund == 0){
                btn_refund ='<button target="_blank" class="refund btn btn-info btn-xs" title="退款"><i class="fa fa-money"></i>退款</button>';
            }else if(row.is_refund == 1){
                btn_refund ='<button target="_blank" class="show_refund btn btn-danger  btn-xs " title="处理退款"><i class="fa fa-money"></i>处理退款</button>';
            }else if(row.is_refund == 2){
                btn_refund ='<button target="_blank" class="disabled btn btn-success  btn-xs" title="已经退款"><i class="fa fa-money"></i> 已经退款</button>';
            }
        }
        /*{/if}*/
        return [btn_delete + '  ' + btn_refund].join('');
    }
    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            //询问框
            layer.open({
                content: '你确定要删除吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        type: "post",
                        dataType:"json",
                        url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'del','aid' => $aid));}",
                        data: {
                            id: row.id
                        },
                        success: function (data) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        }
                    });
                    layer.close(index);
                }
            });
        },
        
        /*{if $plug_IsRefund }*/
        'click .refund': function (e, value, row, index) {
            //询问框
            layer.open({
                content: '您确定要给此订单退款？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "post",
                        url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'refund','aid' => $aid));}",
                        data: {
                            id: row.id,
                            pay_number: row.pay_number
                        },
                        dataType:'json',
                        success: function (data, status) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        }
                    });
                }
            });
        },

        'click .show_refund': function (e, value, row, index) {
            myrequire([ 'arttemplate'], function (template) {
                var html = template("refundtpl", row);
                var footer = '<button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>  关闭</button>';
                if(row.is_refund == 1){
                    footer = '<button type="button" class="btn btn-success" id="btn_chuli"><i class="glyphicon glyphicon-ok"></i> 处理</button><button class="btn btn-danger" id="btn_jujue"><i class="glyphicon glyphicon-remove"></i> 驳回</button>' + footer;
                }
                var modalobj = util.dialog('退款详情',html,footer,{containerName:'user-container'});
                modalobj.modal({'keyboard': true});
                modalobj.find('.modal-body').css({'overflow-y':'auto' });
                modalobj.modal('show');

                //处理操作
                $("#btn_chuli").on('click', function () {
                    modalobj.modal('hide');
                    var _this = $("#btn_chuli");
                    _this.attr("disabled","true");
                    $.ajax({
                        type: "post",
                        url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'refund','aid' => $aid));}",
                        data: {
                            id: row.id,
                            pay_number: row.pay_number
                        },
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        },
                        complete: function(){
                            _this.removeAttr("disabled");
                        }
                    });
                });

                //拒绝操作
                $("#btn_jujue").on('click', function () {
                    var refuse = $("#refuse").val();
                    if (refuse == "") {
                        layer.open({
                            content: '驳回操作时请填写驳回原因！',
                            btn: '确定'
                        });
                    }
                    else{
                        var _this = $("#btn_jujue");
                        _this.attr("disabled","true");
                        $.ajax({
                            type: "post",
                            url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'no_refund','aid' => $aid));}",
                            data: {
                                id: row.id,
                                pay_number: row.pay_number,
                                veto_note: refuse
                            },
                            async: false,
                            dataType: "json",
                            success: function (data) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            },
                            complete: function(){
                                _this.removeAttr("disabled");
                            }
                        });
                    }
                });
            });
        },
        
        /*{/if}*/
    };

    //加载成功时执行
    $('#tb_bandlist').on('load-success.bs.table column-switch.bs.table', function (data) {
        $('#tb_bandlist').bootstrapTable('resetView');
    });

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            $("#btn_delete").click(function () {
                var arrselections = $("#tb_bandlist").bootstrapTable('getSelections');
                if (arrselections.length <= 0) {
                    Command: toastr["warning"]("请选择需要操作的数据！", "选择提示");
                    return;
                }

                var ids = '';
                for (var i = 0; i < arrselections.length; i++) {
                    ids += arrselections[i].id + ",";
                }
                ids = ids.substr(0, ids.length - 1);

                //询问框
                layer.open({
                    content: '你确定要删除吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        $.ajax({
                            type: "post",
                            dataType:"json",
                            url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'delList','aid' => $aid));}",
                            data: {"ids": ids},
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                        layer.close(index);
                    }
                });
            });
            //查询操作
            $("#btn_query").click(function () {
                $("#tb_bandlist").bootstrapTable('refresh');
            });
            //导出数据
            $("#btn_exportdata").click(function(){
                var openid=$("#SearchKey").val();
                var share_openid=$("#SearchROpenId").val();
                var paynumber=$("#SearchPayNumber").val();
                var timer= $("#SearchTime").val();

                //询问框
                layer.open({
                    content: '您确定要导出记录到Excel吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        layer.close(index);
                        window.location.href = "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'exportData','aid' => $aid));}&openid="+ openid +"&share_openid="+ share_openid +"&paynumber="+ paynumber +"&timer="+ timer +"";
                    }
                });
            });

            //结算资金
            $("#btn_settlement").click(function(){
                //询问框
                layer.open({
                    content: '您确定要将剩余资金结算给商家吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        layer.close(index);
                        $.ajax({
                            type: "post",
                            dataType:"json",
                            url: "{php echo $this->createWebUrl('obj_union_pay', array('act' => 'settlement','aid' => $aid));}",
                            data: {},
                            beforeSend:function(XMLHttpRequest){
                                //loading带文字
                                layer.open({
                                    type: 2
                                    , content: '结算中，请勿关闭界面'
                                    , time: 9999 //999秒后自动关闭
                                    , shadeClose: false //开启遮罩关闭
                                });
                            },
                            success: function (data, status) {
                                layer.closeAll();
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    setTimeout(function () {
                                        window.location.href = window.location.href;
                                    }, 2000);
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }
                });
            });

        };
        return oInit;
    };
</script>
</body>
</html>