

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>服务记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
</head>
<style>

.layui-table-cell, .layui-table-tool-panel li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.common-service {
    position: relative;
    overflow: hidden;
}
.common-service .main {
    width: auto;
    height: auto;
    overflow: hidden;
}
.fl {
    float: left;
}
.common-service .rt-txt .pay-list {
    overflow: hidden;
    padding: 0;
}
.common-service .rt-txt .pay-list li {
    width: 134px;
    height: 68px;
    text-align: center;
    line-height: 68px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    color: #999;
    border: 2px solid #E6EAEB;
    cursor: pointer;
    position: relative;
}
.common-service .rt-txt .pay-list li .year {
    font-size: 18px;
    padding: 12px 0 5px;
}
.common-service .rt-txt .pay-list li div {
    line-height: 20px;
}
</style>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">美团订单</div>
                <div class="layui-card-body">
					<div class="demoTable" style="margin-bottom:10px;display: flex;">
						<div class="common-service">
	                        <div class="main">
	                            <div class="fl rt-txt">
	                                <ul class="pay-list">
                                         <li class="price_year " style="margin-right:8px;width:100px">
                                            <div class="year" style="font-size:13px">总返佣金额<br>
                                             <p style="font-size: 13px;margin-top:5px;">¥ {$total}</p></div>
                                         </li>

                                         <li class="price_year " style="margin-right:8px;width:100px">
                                            <div class="year" style="font-size:13px">昨日付款金额<br>
                                            <p style="font-size: 13px;margin-top:5px;">¥ {$yesterdayTotal}</p></div>
                                         </li>

                                         <li class="price_year " style="margin-right:8px;">
                                            <div class="year" style="font-size:13px">昨日返佣金额<br>
                                             <p style="font-size: 13px;margin-top:5px;">¥ {$yesterdayProfit}</p></div>
                                         </li>

                                         <li class="price_year " style="margin-right:8px;width:100px">
                                            <div class="year" style="font-size:13px">今日付款金额<br>
                                            <p style="font-size: 13px;margin-top:5px;">¥ {$todayTotal}</p></div>
                                         </li>

                                         <li class="price_year " style="margin-right:8px;">
                                            <div class="year" style="font-size:13px">今日返佣金额<br>
                                             <p style="font-size: 13px;margin-top:5px;">¥ {$todayProfit}</p></div>
                                         </li>
	                                </ul>
	                            </div>
	                        </div>
                   	 	</div>
			            <div class="layui-inline" style="margin-top:20px;">
					      <label class="layui-form-label">时间范围</label>
					      <div class="layui-input-inline">
					        <input type="text" class="layui-input" id="test10" placeholder=" - " readonly style="width: 280px;">
					      </div>
					    </div>
			            <button class="layui-btn" style="margin-top:20px;margin-left:20px;" data-type="reload">搜索</button>

					</div>
					

                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' 
    }).extend({
        index: 'lib/index' 
        ,excel: '../layui/layui_exts/excel/excel',
    }).use(['jquery','index', 'table', 'excel','laydate','form'], function(){
        var $ = layui.$
        	,table = layui.table
            ,admin = layui.admin
            ,excel = layui.excel
            ,form = layui.form
            ,laydate = layui.laydate;
        	

            
        laydate.render({
            elem: '#test10'
           	,range: true
           	,trigger: 'click'
   	    	,type: 'datetime'
   	    	,format: 'yyyy/MM/d HH:mm:ss'
          });
        	

        table.render({
            elem: '#test-table-operate'
            ,url:"{:siteUrl('admin/take/meituan_order_list','','web')}"
           	,cellMinWidth: 80
           	,cols: [[
                 {field:'orderid', title: '订单ID', sort: true}
                 ,{field:'smstitle', title: '订单标题'}
                 ,{field:'payprice', title: '支付金额', sort: true}
                 ,{field:'profit', title: '返佣金额', sort: true}
                 ,{field:'type', title: '订单类型', sort: true,templet:function(d){
 					if(d.type == 4){
                   		return "外卖";
                   	}else if(d.type == 6){
                   		return "闪购";
                   	}
                 }}
                 ,{field:'status', title: '订单状态', sort: true,templet:function(d){
                	 if(d.status == 1){
                   		return "已付款";
                   	}else if(d.status == 8){
                   		return "已完成";
                   	}else if(d.status == 9){
                   		return "已退款";
                   	}
                 }}
                 ,{field:'paytime', title: '支付时间', sort: true ,templet:function(d){
                 	return layui.util.toDateString(d.paytime*1000, "yyyy-MM-dd HH:mm");
                 }}
             ]]
            ,page: true
        });
        
        form.on('submit(demo1)', function(data){
            var admin = layui.admin

            $.ajax({
                url:"{:siteUrl('admin/take/deliver_order','','web')}",
                data:data.field,
                type:"POST",
                success: function(res){
                	
                	if(res.code == 1 ){
                		layer.msg(res.msg,{icon: 1,time:2000},function(){
                			window.location.href="{:siteUrl('admin/take/index','','web')}";
                		});
                	}else{
                		layer.msg(res.msg,{icon: 2,time:3000},function(){
                			window.location.href="{:siteUrl('admin/take/index','','web')}";
                		});
                	}
                }
            })
            return false
  
        });
        
        
        var $ = layui.$, active = {
            getCheckData: function(){ 
                var checkStatus = table.checkStatus('test-table-operate')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        };

        $('.test-table-operate-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        
        var $ = layui.$, active = {
             reload: function(){
                 var demoReload = $('#test-table-demoReload');
                 var status = $('#is_status');
                 var con_time = $('#test10');
                 table.reload('test-table-operate', {
                   page: {
                     curr: 1 
                   }
                   ,where: {
                     'realname': demoReload.val(),
                     'is_status': status.val(),
                     'con_time': con_time.val()
                   }
                 });
               }
         };

         $('.demoTable .layui-btn').on('click', function(){
             var type = $(this).data('type');
             active[type] ? active[type].call(this) : '';
         });

    });
</script>
</body>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
	{include file='../addons/wjyk_zqds/application/admin/view/index/footer.html' /}
</div>
</html>