<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>编辑用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, member-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
    <style>
		.layui-form-label{
			width:125px;
        }
		.layui-input-block{
			margin-left:155px;
		}
        form{
            padding-right:15px ;
        }
    </style>
</head>
<body>
<form class="layui-form " style="margin-top:21px;">

    <input type="hidden" name="id" value="{$srdb['id']}">
    
    <div class="layui-form-item">
        <label class="layui-form-label">会员名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" autocomplete="off" class="layui-input" value="{$srdb['name']}">
        </div>
    </div>
    

    <div class="layui-form-item">
        <label class="layui-form-label">时间（天）</label>
        <div class="layui-input-block">
            <input type="text" name="month" autocomplete="off" class="layui-input" value="{$srdb['month']}">
        </div>
    </div>
 
    <div class="layui-form-item">
        <label class="layui-form-label">价格（元）</label>
        <div class="layui-input-block">
            <input type="number" name="price" autocomplete="off" class="layui-input" value="{$srdb['price']}">
        </div>
    </div>
    
    <div class="layui-form-item">
	    <label class="layui-form-label">可用{$name}</label>
	    <div class="layui-input-inline">
	      <input type="number" name="integral"   placeholder="请输入可用{$name}" autocomplete="off" class="layui-input" value="{$srdb['integral']}">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">可抵扣金额</label>
	    <div class="layui-input-inline">
	      <input type="number" name="deduction"   placeholder="请输入可抵扣金额" autocomplete="off" class="layui-input" value="{$srdb['deduction']}">
	    </div>
	    <div class="layui-form-mid layui-word-aux">单位：元</div>
	  </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="number" name="sort" autocomplete="off" class="layui-input" value="{$srdb['sort']}">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
            <input type="button" class="layui-btn layui-btn-primary" onclick="history.go(-1)" value="返回列表">
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<div class="layui-footer" style="position:absolute;bottom:0;text-align:center;width:100%">
    {include file='../addons/wjyk_zqds/application/admin/view/index/footer.html' /}
</div>
<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        , layarea: '../layui/layui_exts/city-picker/layarea'
    }).use(['jquery','layer', 'index', 'layarea', 'table','laydate'], function(){
        var $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , layarea = layui.layarea
            , form = layui.form;

        layarea.render({
            elem: '#area-picker',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });

        var laydate = layui.laydate;
        laydate.render({
            elem: '#test5'
            // ,value: '2018-08-18'
            //,type: 'date' //默认，可不填
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            var admin = layui.admin
            if(data.field.price <= 0){
                layer.msg('金额必须大于0',{icon: 2,time:2000});
                return false
            }

            $.ajax({
                url:"{:siteUrl('admin/member/edit_member','','web')}",
                data:data.field,
                type:"POST",
                success: function(arr){

                    var res = JSON.parse(arr);
                    if(res.code == 0 ){
                        layer.msg(res.msg,{icon: 1,time:2000},function(){
                        	window.location.href="{:siteUrl('admin/member/index','','web')}";
                        });
                    }else{
                        layer.msg(res.msg,{icon: 2,time:2000},function(){
    						window.location.href="{:siteUrl('admin/member/index','','web')}";
                        });
                    }
                }
            })
            return false

        });


        //表单取值
        $('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>
</body>
</html>