<!DOCTYPE html>
<html>
<head>
	<title>{$_W['slwl']['lang']['sys_name']}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	{template 'public/header'}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{template 'public/top'}
	{template 'public/left'}

	<div class="layui-body">
		<div class="layui-main">

			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li class="layui-this">
						<a href="{php echo webUrl('addCoursePlan')}">添加课程计划</a>
					</li>
					<li>
						<a href="{php echo webUrl('courseList')}">返回</a>
					</li>
				</ul>
			</div>

			<form class="layui-form fixed" action="" method="post" enctype="multipart/form-data" id="data-form">
				<!-- 门店 -->
				<div class="layui-form-item">
					<label class="layui-form-label">门店</label>
					<div class="layui-input-block">
						<select name="store" lay-verify="required">
							<option value="">请选择...</option>
							{loop $storeList $index $item}
								<option value="{$item['id']}">{$item['name']}</option>
							{/loop}
						</select>
					</div>
				</div>
				<!-- 教练 -->
				<div class="layui-form-item">
					<label class="layui-form-label">教练</label>
					<div class="layui-input-block">
						<select name="coach" lay-verify="required">
							<option value="">请选择...</option>
							{loop $coachList $index $item}
								<option value="{$item['id']}">{$item['name']}</option>
							{/loop}
						</select>
					</div>
				</div>
				<!-- 课程 -->
				<div class="layui-form-item">
					<label class="layui-form-label">课程</label>
					<div class="layui-input-block">
						<select name="course" lay-verify="required">
							<option value="">请选择...</option>
							{loop $courseList $index $item}
								<option value="{$item['id']}">{$item['name']}</option>
							{/loop}
						</select>
					</div>
				</div>
				<!-- 人数 -->
				<div class="layui-form-item">
					<label class="layui-form-label">人数</label>
					<div class="layui-input-block">
						<input type="number" name="number" min="1" oninput="if(value.length>8)value=value.slice(0,8)"
							class="layui-input">
					</div>
				</div>
				<!-- 课程价格 -->
				<div class="layui-form-item">
					<label class="layui-form-label">课程价格</label>
					<div class="layui-input-block">
						<input type="number" name="price" min="1" oninput="if(value.length>8)value=value.slice(0,8)"
							class="layui-input">
						<div class="layui-form-mid layui-word-aux">单位：元</div>
					</div>
				</div>
				<!-- 新手价 -->
				<!-- <div class="layui-form-item">
					<label class="layui-form-label">新手价</label>
					<div class="layui-input-block">
						<input type="number" name="novice_price" min="1" oninput="if(value.length>8)value=value.slice(0,8)"
							class="layui-input">
						<div class="layui-form-mid layui-word-aux">单位：元；‘新手价'和‘课程价格’只能且必须设置一个</div>
					</div>
				</div> -->
				<!-- 开始时间 -->
				<div class="layui-form-item">
					<label class="layui-form-label">开始时间</label>
					<div class="layui-input-block">
						<input type="text" name="start" class="layui-input" id="time-start" placeholder="yyyy-MM-dd HH:mm">
					</div>
				</div>
				<!-- 结束时间 -->
				<div class="layui-form-item">
					<label class="layui-form-label">结束时间</label>
					<div class="layui-input-block">
						<input type="text" name="end" class="layui-input" id="time-end" placeholder="yyyy-MM-dd HH:mm">
					</div>
				</div>
				<!-- 预约开始时间 -->
				<div class="layui-form-item">
					<label class="layui-form-label">预约开始时间</label>
					<div class="layui-input-block">
						<input type="text" name="book_start" class="layui-input" id="book-start" placeholder="yyyy-MM-dd HH:mm">
					</div>
				</div>
				<!-- 预约截止时间 -->
				<div class="layui-form-item">
					<label class="layui-form-label">预约截止时间</label>
					<div class="layui-input-block">
						<input type="text" name="book_end" class="layui-input" id="book-end" placeholder="yyyy-MM-dd HH:mm">
					</div>
				</div>
				<!-- 允许满员排队 -->
				<div class="layui-form-item">
					<label class="layui-form-label">允许满员排队</label>
					<div class="layui-input-block">
						<input type="radio" name="can_queue" value="1" title="是">
						<input type="radio" name="can_queue" value="0" title="否" checked>
					</div>
				</div>
				<!-- 剩余名额提示 -->
				<div class="layui-form-item">
					<label class="layui-form-label">剩余名额提示</label>
					<div class="layui-input-block">
						<input type="text" name="left_tip" lay-verify="required" class="layui-input" value="5">
						<div class="layui-form-mid layui-word-aux">是正整数，如剩余5个名额时提示</div>
					</div>
				</div>

				<div class="layui-tab-content fixed" id="data-submit">
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="save">保存</button>
							<button class="layui-btn" lay-submit lay-filter="save" data-type="saveAndAdd">保存并新增</button>
							<a href="{php echo webUrl('courseList')}" class="layui-btn layui-btn-primary">取消</a>
							<input type="hidden" name="token" value="{$_W['token']}" />
						</div>
					</div>
				</div>
			</form>
			<script>
				layui.use('laydate', function(){
					var laydate = layui.laydate;

					laydate.render({
						elem: '#time-start'
						,type: 'datetime'
						,format: 'yyyy-MM-dd HH:mm'
						,value: "{php echo date('Y-m-d H:i', time()); }"
					});
					laydate.render({
						elem: '#time-end'
						,type: 'datetime'
						,format: 'yyyy-MM-dd HH:mm'
						,value: "{php echo date('Y-m-d H:i', time()); }"
					});
					laydate.render({
						elem: '#book-start'
						,type: 'datetime'
						,format: 'yyyy-MM-dd HH:mm'
						,value: "{php echo date('Y-m-d H:i', time()); }"
					});
					laydate.render({
						elem: '#book-end'
						,type: 'datetime'
						,format: 'yyyy-MM-dd HH:mm'
						,value: "{php echo date('Y-m-d H:i', time()); }"
					});
				});

				layui.use('form', function(){
					var form = layui.form;

					form.on('submit(save)', function(data) {
						let subType = data.elem.dataset.type;
						let url = "{php echo webUrl('addCoursePlan')}";
						var $obj = $(this);

						if (!$obj.hasClass('lock')) {
							$obj.addClass('lock'); // 不能再点击

							$.ajax({
								type: "POST",
								url: url,
								dataType: 'json',
								data: data.field,
								success: function (rs) {

									if (rs && rs.code.toString() === '0') {
										layer.msg('保存成功' , {
											time: 500
										}, function () {
											if (subType && subType.toString() === 'saveAndAdd') {
												window.location.href = "{php echo webUrl('addCoursePlan')}";
											} else {
												window.location.href = "{php echo webUrl('courseList')}";
											}
										});
									} else {
										layer.msg(rs.msg, {
											offset: '20%',
										});
									}
									$obj.removeClass('lock');
								},
								error: function () {
									layer.msg('保存过程发生错误，请与管理员联系', {
										offset: '20%',
									});
									$obj.removeClass('lock');
								}
							});
						}

						return false;
					});
				});
			</script>
		</div>
	</div>

	{template 'public/copyright'}
</div>

{template 'public/footer'}
</body>
</html>
