<!DOCTYPE html>
<html>
<head>
	<title>{$_W['slwl']['lang']['sys_name']}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	{template 'public/header'}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{template 'public/top'}
	{template 'public/left'}

	<div class="layui-body">
		<div class="layui-main">

			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li class="layui-this">
						<a href="{php echo webUrl('addCourse')}">添加课程</a>
					</li>
					<li>
						<a href="{php echo webUrl('courseList',['action'=>'course'])}">返回</a>
					</li>
				</ul>
			</div>

			<form class="layui-form fixed" action="" method="post" enctype="multipart/form-data" id="data-form">
				<!-- 课程名 -->
				<div class="layui-form-item">
					<label class="layui-form-label">课程名</label>
					<div class="layui-input-block">
						<input type="text" name="course" class="layui-input">
					</div>
				</div>
				<!-- 门店 -->
				<div class="layui-form-item">
					<label class="layui-form-label">门店</label>
					<div class="layui-input-block">
						{loop $_W['list_store'] $index $item}
							<input type="checkbox" name="store[]" value="{$item['id']}" lay-skin="primary"
								title="{$item['name']}">
						{/loop}
					</div>
				</div>
				<!-- 推荐到首页 -->
				<div class="layui-form-item">
					<label class="layui-form-label">推荐到首页</label>
					<div class="layui-input-block">
						<input type="text" name="recommend" class="layui-input">
						<div class="layui-form-mid layui-word-aux">数字越大越靠前，默认0不会推荐</div>
					</div>
				</div>
				<!-- 难易程度 -->
				<div class="layui-form-item">
					<label class="layui-form-label">难易程度</label>
					<div class="layui-input-block">
						<select name="difficulty" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>简单</option>
							<option value="2">中等</option>
							<option value="3">较难</option>
							<option value="4">难</option>
						</select>
					</div>
				</div>
				<!-- 卡路里消耗 -->
				<div class="layui-form-item">
					<label class="layui-form-label">卡路里消耗</label>
					<div class="layui-input-block">
						<select name="calorie" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<!-- 卡路里消耗-提示 -->
				<div class="layui-form-item">
					<label class="layui-form-label">卡路里消耗-提示</label>
					<div class="layui-input-block">
						<input type="text" name="calorie_tips" class="layui-input">
					</div>
				</div>
				<!-- 柔韧性 -->
				<div class="layui-form-item">
					<label class="layui-form-label">柔韧性</label>
					<div class="layui-input-block">
						<select name="flexibility" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<!-- 心肺功能 -->
				<div class="layui-form-item">
					<label class="layui-form-label">心肺功能</label>
					<div class="layui-input-block">
						<select name="heart_lung" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<!-- 协调性 -->
				<div class="layui-form-item">
					<label class="layui-form-label">协调性</label>
					<div class="layui-input-block">
						<select name="harmony" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<!-- 肌肉耐力 -->
				<div class="layui-form-item">
					<label class="layui-form-label">肌肉耐力</label>
					<div class="layui-input-block">
						<select name="muscle_endurance" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<!-- 肌肉力量 -->
				<div class="layui-form-item">
					<label class="layui-form-label">肌肉力量</label>
					<div class="layui-input-block">
						<select name="muscle_force" lay-verify="required">
							<option value="">请选择...</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<!-- 课程体系 -->
				<div class="layui-form-item">
					<label class="layui-form-label">课程体系</label>
					<div class="layui-input-block">
						<select name="system_id" lay-verify="required">
							<option value="">请选择...</option>
							{loop $courseSystemList $index $item}
								<option value="{$item['id']}">{$item['name']}</option>
							{/loop}
						</select>
					</div>
				</div>
				<!-- 课程描述 -->
				<div class="layui-form-item">
					<label class="layui-form-label">课程描述</label>
					<div class="layui-input-block">
						<textarea name="description" class="layui-textarea" lay-verify="required"></textarea>
					</div>
				</div>
				<!-- 注意事项 -->
				<div class="layui-form-item">
					<label class="layui-form-label">注意事项</label>
					<div class="layui-input-block">
						<textarea name="precautions" class="layui-textarea"></textarea>
					</div>
				</div>
				<!-- 自带物品 -->
				<div class="layui-form-item">
					<label class="layui-form-label">自带物品</label>
					<div class="layui-input-block">
						<textarea name="own_articles" class="layui-textarea"></textarea>
					</div>
				</div>
				<!-- 简短描述 -->
				<div class="layui-form-item">
					<label class="layui-form-label">简短描述</label>
					<div class="layui-input-block">
						<textarea name="simple" class="layui-textarea"></textarea>
					</div>
				</div>
				<!-- 展示图片 -->
				<div class="layui-form-item">
					<label class="layui-form-label">展示图片</label>
					<div class="layui-input-block">
						{php echo slwl_tpl_form_field_image('show');}
						<div class="layui-form-mid layui-word-aux">推荐尺寸：375 x 130，或同比例</div>
					</div>
				</div>
				<!-- 视频图片 -->
				<div class="layui-form-item">
					<label class="layui-form-label">视频图片</label>
					<div class="layui-input-block">
						{php echo slwl_tpl_form_field_image('video_image');}
						<div class="layui-form-mid layui-word-aux">推荐尺寸：331 x 281，或同比例</div>
					</div>
				</div>
				<!-- 展示视频 -->
				<div class="layui-form-item">
					<label class="layui-form-label">展示视频</label>
					<div class="layui-input-block">
						{php echo slwl_tpl_form_field_video('video');}
					</div>
				</div>
				<!-- 轮播图 -->
				<div class="layui-form-item">
					<label class="layui-form-label">轮播图</label>
					<div class="layui-input-block">
						{php echo slwl_tpl_form_field_multi_image('slides')}
						<div class="layui-form-mid layui-word-aux">推荐尺寸：360 x 250，或同比例</div>
					</div>
				</div>
				<!-- 详情 -->
				<div class="layui-form-item">
					<label class="layui-form-label">详情</label>
					<div class="layui-input-block box-act-body">
						{php echo tpl_ueditor('details')}
					</div>
				</div>
				<!-- 使用详情替换旧的显示 -->
				<div class="layui-form-item">
					<label class="layui-form-label">使用详情替换旧的显示</label>
					<div class="layui-input-block">
						<input type="radio" name="details_enabled" value="1" title="是">
						<input type="radio" name="details_enabled" value="0" title="否" checked>
					</div>
				</div>

				<div class="layui-tab-content fixed" id="data-submit">
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="save">保存</button>
							<button class="layui-btn" lay-submit lay-filter="save" data-type="saveAndAdd">保存并新增</button>
							<a href="{php echo webUrl('courseList', ['action' => 'course'])}" class="layui-btn layui-btn-primary">取消</a>
							<input type="hidden" name="token" value="{$_W['token']}" />
						</div>
					</div>
				</div>
			</form>
			<script>
				layui.use('form', function(){
					var form = layui.form;

					form.on('submit(save)', function(data){
						let subType = data.elem.dataset.type;
						let url = "{php echo webUrl('addCourse')}";
						var $obj = $(this);

						if (!$obj.hasClass('lock')) {
							$obj.addClass('lock'); // 不能再点击

							$.ajax({
								type: "POST",
								url: url,
								dataType: 'json',
								data: data.field,
								success: function (rs) {

									if (rs && rs.code.toString() === '0') {
										layer.msg('保存成功' , {
											time: 500
										}, function () {
											if (subType && subType.toString() === 'saveAndAdd') {
												window.location.href = "{php echo webUrl('addCourse')}";
											} else {
												window.location.href = "{php echo webUrl('courseList', ['action' => 'course'])}";
											}
										});
									} else {
										layer.msg(rs.msg, {
											offset: '20%',
										});
									}
									$obj.removeClass('lock');
								},
								error: function () {
									layer.msg('保存过程发生错误，请与管理员联系', {
										offset: '20%',
									});
									$obj.removeClass('lock');
								}
							});
						}

						return false;
					});
				});
			</script>
		</div>
	</div>

	{template 'public/copyright'}
</div>

{template 'public/footer'}
</body>
</html>
