{template 'myheader'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">帮助</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="https://www.kancloud.cn/oversky524/jsmd/593022" target="_blank">1. 使用文档，点击查看</a></li>
            <li><a href="https://www.kancloud.cn/xingxing1818/cjwt/593134" target="_blank">2. 通用常见问题，点击查看</a></li>
            <li>3. 统一账号ID：{$_W['uniacid']}</li>
        </ul>
    </div>
</div>
{template 'common/footer'}
