<!DOCTYPE html>
<html lang="zh-cn">
{php include $this->template('common/header')}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {php include $this->template('common/top')}
    <!-- 左侧导航 -->
    {php include $this->template('common/sidebar')}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>
                {$title} - {$actModel['title']}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebAppUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li class="active">活动管理</li>
                <li class="active">{$title}</li>
                <li class="active">溯源统计</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="{php echo $this->createWebAppUrl('obj_activity', array('act' => 'index'));}">返回活动</a></li>
                            <li class="active"><a href="">团队列表</a></li>
                            <li><a href="javascript:void(0);" class="btn_add">创建团队</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-search"></i> 筛选条件</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <form id="formSearch" class="form-horizontal">
                                    <div class="box-body">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label for="SearchKey" class="col-sm-1 control-label">团队名称</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="SearchKey" placeholder="团队名称/团队编号">
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchStatus">团队状态</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchStatus">
                                                    <option value="" selected="selected">请选择</option>
                                                    <option value="1">启用</option>
                                                    <option value="0">禁用</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTime">创建时间</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right timer" id="SearchTime"
                                                           placeholder="开始时间 - 结束时间" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="btn-group pull-right">
                                            <button id="btn_query" type="button" class="btn btn-sm btn-info">开始检索
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-default">重置检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="box" class="table-responsive">
                                <div id="toolbar" class="btn-group">
                                    <button type="button" class="btn btn-success btn_add">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;创建
                                    </button>
                                    <button id="btn_exportdata" type="button" class="btn btn-info">
                                        <span class="fa fa-download" aria-hidden="true"></span>&nbsp;导出
                                    </button>
                                    <button id="btn_delete" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
                                    </button>
                                    
                                    <button type="button" class="btn btn-success btn_add_user">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;成员加入团队
                                    </button>

                                    {if $actModel['activity_types']==3}
                                    <button id="btn_storedata" type="button" class="btn btn-warning">
                                        <span class="fa fa-upload" aria-hidden="true"></span>&nbsp;按联盟商家一键导入
                                    </button>
                                    {/if}
									{if $actModel['activity_types']==24}
                                    <button id="btn_voicestoredata" type="button" class="btn btn-warning">
                                        <span class="fa fa-upload" aria-hidden="true"></span>&nbsp;按语音商家一键导入
                                    </button>
                                    {/if}
                                </div>
                                <table id="tb_bandlist" class="table text-nowrap" data-reorderable-columns="true" ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="copyTarget" style="opacity: 0;"></div>
    </div>
    <!-- 底部版权 -->
    {php include $this->template('common/footer')}
</div>
<script id="createtpl" type="text/html">
    <form class="form-horizontal" name="form_content" id="form_content" method="post">
        <div class=link-modal>
            <div class="form-group" style="margin-bottom: 0px; ">
                <label for="team_name" class="col-sm-2 control-label">溯源团队名称</label>
                <div class="col-sm-10">
                    <input class="form-control"  maxlength="50" id="team_name" placeholder="请输入溯源团队名称！" type="text" value="<%=name%>" />
                    <input id="team_id" type="hidden" value="<%=id%>" />
                </div>
            </div>
        </div>
    </form>
</script>

<script id="createqrtpl" type="text/html">
</script>
<script>
    $(function () {
        SelectNav("我创建的活动");

        require(["daterangepicker"], function () {
            //时间搜索
            $('.timer').daterangepicker({
                format: "YYYY/MM/DD"
            });
        });
        myrequire(['select2', 'bootstrap-switch', 'bootstrap-editable', 'bootstrap-table'], function () {
            myrequire(['bootstrap-table-zh-cn', 'bootstrap-table-editable','bootstrap-table-fixed-columns'], function () {
                $(".select2").select2();
                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();
                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();
            });
        });

    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_bandlist').bootstrapTable({
                url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'getJsonList','aid' => $aid));}",         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortName: "id",                   //排序字段
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 575,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                fixedColumns: true,                    //冻结列开启关闭
                fixedNumber: 1,                        //冻结列数量
                onLoadError: function () {  //加载失败时执行
                    Command: toastr["error"]("对不起，网络繁忙，请稍后再试！", "错误提示");
                },
                columns: [ {
                    checkbox: true
                }, {
                    field: 'id',
                    title: '编号',
                    titleTooltip: '当前信息的唯一编号，数据主键',
                    sortable: true
                },  {
                    field: 'name',
                    title: '团队名称',
                    titleTooltip: '参与溯源统计的团队名称',
                    sortable: true,
                }, {
                    field: 'count',
                    title: '团队成员',
                    titleTooltip: '参与溯源统计的成员数量'
                },{
                    field: 'status',
                    title: '团队状态',
                    titleTooltip: '创建溯源团队的当前状态',
                    sortable: true,
                    formatter: statusFormatter
                }, {
                    field: 'click_num',
                    title: '曝光总量',
                    titleTooltip: '团队成员累计浏览总量'
                }, {
                    field: 'repost_num',
                    title: '今日/总转发',
                    titleTooltip: '团队成员累计转发总量',
                    formatter: function (value, row, index) {
                        return row.today_repost_num + "/" + row.repost_num ;
                    }
                },
                    {if $activity_types_name=='分享红包' || $activity_types_name=='红包拓客' || $activity_types_name=='联盟拓客' || $activity_types_name=='集赞拓客' || $activity_types_name=='锦鲤抽奖' || $activity_types_name=='助力砍价' || $activity_types_name=='经典拼团' || $activity_types_name=='阶梯拼团' || $activity_types_name=='全民投票' || $activity_types_name=='问卷调查' || $activity_types_name=='报名拓客' || $activity_types_name=='全民拼团' || $activity_types_name=='挑战10秒'|| $activity_types_name=='进阶团'|| $activity_types_name=='语音红包'|| $activity_types_name=='团中团'}
                    {if $activity_types_name=='分享红包'}
                    {
                        field: 'get_num',
                        title: '今日/总奖品',
                        titleTooltip: '今日/总奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'share_view_num',
                        title: '今日/总内容浏览',
                        titleTooltip: '今日/总内容浏览',
                        formatter: function (value, row, index) {
                            return row.today_share_view_num + "/" + row.share_view_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='红包拓客'}
                    {
                        field: 'join_num',
                        title: '今日/总参与分销',
                        titleTooltip: '今日/总参与分销',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='联盟拓客'}
                    {
                        field: 'join_num',
                        title: '今日/总参与分销',
                        titleTooltip: '今日/总参与分销',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='集赞拓客'}
                    {
                        field: 'join_num',
                        title: '今日/总参与集赞',
                        titleTooltip: '今日/总参与集赞',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总集赞奖品',
                        titleTooltip: '今日/总集赞奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'praise_click_num',
                        title: '今日/总获赞数量',
                        titleTooltip: '今日/总获赞数量',
                        formatter: function (value, row, index) {
                            return row.today_praise_click_num + "/" + row.praise_click_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='锦鲤抽奖'}
                    {
                        field: 'join_num',
                        title: '今日/总参与活动',
                        titleTooltip: '今日/总参与活动',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'fish_code_num',
                        title: '今日/总抽奖码',
                        titleTooltip: '今日/总抽奖码',
                        formatter: function (value, row, index) {
                            return row.today_fish_code_num + "/" + row.fish_code_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='助力砍价'}
                    {
                        field: 'join_num',
                        title: '今日/总参与活动',
                        titleTooltip: '今日/总参与活动',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {
                        field: 'cut_help_num',
                        title: '今日/总砍价次数',
                        titleTooltip: '今日/总砍价次数',
                        formatter: function (value, row, index) {
                            return row.today_cut_help_num + "/" + row.cut_help_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='经典拼团'}
                    {
                        field: 'join_num',
                        title: '今日/总参与拼团',
                        titleTooltip: '今日/总参与拼团',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='阶梯拼团'}
                    {
                        field: 'join_num',
                        title: '今日/总参与拼团',
                        titleTooltip: '今日/总参与拼团',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='全民投票'}
                    {
                        field: 'join_num',
                        title: '今日/总选手报名',
                        titleTooltip: '今日/总选手报名',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总参与投票',
                        titleTooltip: '今日/总参与投票',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总礼物打赏',
                        titleTooltip: '今日/总礼物打赏',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='问卷调查'}
                    {
                        field: 'join_num',
                        title: '今日/总参与问卷',
                        titleTooltip: '今日/总参与问卷',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总奖品',
                        titleTooltip: '今日/总奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='报名拓客'}
                    {
                        field: 'join_num',
                        title: '今日/总参与分销',
                        titleTooltip: '今日/总参与分销',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='全民拼团'}
                    {
                        field: 'join_num',
                        title: '今日/总参与分销',
                        titleTooltip: '今日/总参与分销',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'group_num',
                        title: '今日/总参与拼团',
                        titleTooltip: '今日/总参与拼团',
                        formatter: function (value, row, index) {
                            return row.today_group_num + "/" + row.group_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='挑战10秒'}
                    {
                        field: 'join_num',
                        title: '今日/总参与挑战',
                        titleTooltip: '今日/总参与挑战',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总挑战奖品',
                        titleTooltip: '今日/总挑战奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='进阶团'}
                    {
                        field: 'join_num',
                        title: '今日/总参与拼团',
                        titleTooltip: '今日/总参与拼团',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='语音红包'}
                    {
                        field: 'join_num',
                        title: '今日/总参与活动',
                        titleTooltip: '今日/总参与活动',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {/if}
                    {if $activity_types_name=='团中团'}
                    {
                        field: 'join_num',
                        title: '今日/总参与拼团',
                        titleTooltip: '今日/总参与拼团',
                        formatter: function (value, row, index) {
                            return row.today_join_num + "/" + row.join_num ;
                        }
                    },
                    {
                        field: 'get_num',
                        title: '今日/总返利奖品',
                        titleTooltip: '今日/总返利奖品',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {
                        field: 'buy_num',
                        title: '今日/总直销订单',
                        titleTooltip: '今日/总直销订单',
                        formatter: function (value, row, index) {
                            return row.today_buy_num + "/" + row.buy_num ;
                        }
                    },
                    {
                        field: 'marketing_num',
                        title: '今日/总销售订单',
                        titleTooltip: '今日/总销售订单',
                        formatter: function (value, row, index) {
                            return row.today_marketing_num + "/" + row.marketing_num ;
                        }
                    },
                    {/if}
                    {else}
                    {
                        field: 'get_num',
                        title: '今日/总参与',
                        titleTooltip: '今日/总参与',
                        formatter: function (value, row, index) {
                            return row.today_get_num + "/" + row.get_num ;
                        }
                    },
                    {/if}
                {
                    field: 'createtime',
                    title: '创建时间',
                    titleTooltip: '创建信息的时间',
                    sortable: true,
                },{
                    field: 'updatetime',
                    title: '编辑时间',
                    titleTooltip: '编辑信息的时间',
                    sortable: true,
                }, {
                    field: 'action',
                    title: '操作',
                    titleTooltip: '点击下方按钮对信息进行操作',
                    width: 120,
                    events: operateEvents,
                    formatter: operateFormatter
                }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                //search: params.search,
                pageSize: params.limit,  //每页大小
                page: params.offset / params.limit + 1,//页码
                sortOrder: params.order,//排序
                sortName: params.sort,//排序字段
                key: $("#SearchKey").val(), //关键词
                status: $("#SearchStatus").val(),
                timer: $("#SearchTime").val()
            };
            return temp;
        };
        return oTableInit;
    };

    function operateFormatter(value, row, index) {
        return [
            '<button class="modify btn btn-success btn-xs" href="javascript:void(0)" title="修改">',
            '<i class="fa fa-edit"></i>修改',
            '</button>  ',
            ' <button class="user btn btn-info btn-xs" href="javascript:void(0)" title="成员">',
            '<i class="fa fa-group"></i>成员',
            '</button>  ',
            ' <button class="remove btn btn-danger btn-xs" href="javascript:void(0)" title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</button>',
        ].join('');
    }
    window.operateEvents = {
        'click .modify': function (e, value, row, index) {
            myrequire([ 'arttemplate'], function (template) {
                var dataHtml = template("createtpl",row);
                require(["jquery", "util"], function(){
                    var footer = '<button type="button" class="btn btn-default" data-dismiss="modal" id="submitBtn">提交</button> <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
                    var modalobj = util.dialog('编辑溯源团队',dataHtml ,footer,{containerName:'fedex-container'});
                    modalobj.modal({'keyboard': true});
                    modalobj.find('.modal-body').css({'overflow-y':'auto' });
                    modalobj.modal('show');
                });
            });
        },
        'click .user': function (e, value, row, index) {
            var userurl = "{php echo $this->createWebAppUrl('marketing_user', array('act' => 'index','aid' => $aid));}&tid=$";
            window.location.href = userurl.replace('$', row.id);
        },
        'click .remove': function (e, value, row, index) {
            //询问框
            layer.open({
                content: '你确定要删除吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        type: "post",
                        dataType:'json',
                        url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'del','aid' => $aid));}",
                        data: {
                            id: row.id
                        },
                        success: function (data) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        }
                    });
                    layer.close(index);
                }
            });
        }
    };

    function statusFormatter(value, row, index) {
        return [
            '<input name="status"   rowid="' + row.id + '" type="checkbox" data-size="mini" data-on-text="开启" data-off-text="关闭" ' + (row.status == 1 ? "checked" : "") + ' />'
        ].join('');
    }

    //加载成功时执行
    $('#tb_bandlist').on('load-success.bs.table column-switch.bs.table', function (data) {
        $('#tb_bandlist').bootstrapTable('resetView');
        //绑定更改状态操作
        $(':checkbox[name="status"]').bootstrapSwitch({
            onSwitchChange: function (event, state) {
                var status = state ? 1 : 0;
                var rowId = parseInt($(this).attr("rowid"));
                $.ajax({
                    type: "post",
                    dataType:'json',
                    url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'setStatus','aid' => $aid));}",
                    data: {
                        "id": rowId,
                        "status": status
                    },
                    success: function (jsonData, status) {
                        if (jsonData.status == 1) {
                            Command: toastr["success"](jsonData.msg, "成功提示");
                        }
                        else {
                            Command: toastr["error"](jsonData.msg, "错误提示");
                        }
                    }
                });
            }
        });
    });

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            $("#btn_delete").click(function () {
                var arrselections = $("#tb_bandlist").bootstrapTable('getSelections');
                if (arrselections.length <= 0) {
                    Command: toastr["warning"]("请选择需要操作的数据！", "选择提示");
                    return;
                }
                var ids = '';
                for (var i = 0; i < arrselections.length; i++) {
                    ids += arrselections[i].id + ",";
                }
                ids = ids.substr(0, ids.length - 1);

                //询问框
                layer.open({
                    content: '你确定要删除吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        $.ajax({
                            type: "post",
                            dataType:'json',
                            url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'delList','aid' => $aid));}",
                            data: {"ids": ids},
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                        layer.close(index);
                    }
                });
            });
            //查询操作
            $("#btn_query").click(function () {
                $("#tb_bandlist").bootstrapTable('refresh');
            });
            //创建操作
            $(".btn_add").click(function () {
                myrequire([ 'arttemplate'], function (template) {
                    var data={'name':'', 'id': 0};
                    var dataHtml = template("createtpl",data);
                    require(["jquery", "util"], function(){
                        var footer = '<button type="button" class="btn btn-default" data-dismiss="modal" id="submitBtn">提交</button> <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
                        var modalobj = util.dialog('创建溯源团队',dataHtml ,footer,{containerName:'fedex-container'});
                        modalobj.modal({'keyboard': true});
                        modalobj.find('.modal-body').css({'overflow-y':'auto' });
                        modalobj.modal('show');
                    });
                });
            });
            
            //成员扫码添加团队操作
            $(".btn_add_user").click(function () {
                myrequire([ 'arttemplate'], function (template) {
                    var data={'name':'', 'id': 0};
                    var dataHtml = template("createqrtpl",data);
                    require(["jquery", "util"], function(){
                        var footer = '<img src={php echo $this->createWebAppUrl("marketing_team", array("act" => "addQrPreview","aid" => $aid));} width=150 height=150><p>成员微信扫码加入团队 </p> <p    style="display: flex;justify-content: center;"><input id="invite_code_value" class="form-control" type="text" disabled="disabled"  style=" text-align: center; display: inline-block;width: 20%;"  value="邀请码：{php echo $actModel['batches_join_code']}"/>   <button class=" btn btn-info btn-flat copyBtn " id="btn_reset">重置</button> </p><p ><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></p>';
                        var modalobj = util.dialog('成员扫码加入团队',dataHtml ,footer,{containerName:'fedex-container'});
                        modalobj.modal({'keyboard': true});
                        modalobj.find('.modal-body').css({'overflow-y':'auto' });
                        modalobj.modal('show');
                    });
                });
            });
            //数据提交
            $(document).delegate("#submitBtn", "click", function() {
                var name=$("#team_name").val();
                if(name=='')
                {
                    layer.open({content: '请输入溯源团队名称！', skin: 'msg', time: 2});
                    return false;
                }
                var id=$("#team_id").val();
                $.ajax({
                    type: "post",
                    url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'modify','aid' => $aid));}",
                    data: {
                        id: id,
                        name: name
                    },
                    dataType:'json',
                    success: function (data, status) {
                        if (data.status == 1) {
                            Command: toastr["success"](data.msg, "成功提示");
                            $("#tb_bandlist").bootstrapTable('refresh');
                        }
                        else {
                            Command: toastr["error"](data.msg, "错误提示");
                        }
                    }
                });
            });
            
            //重置邀请码
            $(document).delegate('#btn_reset','click',function(){
                //询问框
                layer.open({
                    content: '你确定要重置吗？重置后邀请用户加入团队将使用新的邀请码！'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        $.ajax({
                            type: "post",
                            url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'resetAitivityInviteCode','aid' => $aid));}",
                            data: {},
                            success: function (data, status) {
                                if (data.status == 1) {
                                    $("#invite_code_value").val("邀请码："+data.invite_code);
                                    layer.open({
                                        content: data.msg
                                        ,skin: 'msg'
                                        ,time: 2 //2秒后自动关闭
                                    });
                                }
                                else {
                                    layer.open({
                                        content: data.msg
                                        ,skin: 'msg'
                                        ,time: 2 //2秒后自动关闭
                                    });
                                }
                            }
                        });
                        layer.close(index);
                    }
                });
            });
            //导入商家
            $("#btn_storedata").click(function(){
                //询问框
                layer.open({
                    content: '是否将“商家奖品核销员”导入？<div style="text-align:left;">系统将按照联盟商家创建溯源团队，注意：选择导入后系统将自动匹配用户信息，没有匹配到信息的用户请手动补齐信息或使用系统生成的默认信息。</div>'
                    , btn: ['仅联盟商家', '商家和核销员']
                    , yes: function (index) {
                        layer.close(index);
                        //仅导入商家
                        $.ajax({
                            type: "post",
                            url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'importUnionStore','aid' => $aid));}",
                            data: {
                                is_user: 0
                            },
                            dataType:'json',
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }, no: function (index) {
                        layer.close(index);
                        //导入商家和核销员
                        $.ajax({
                            type: "post",
                            url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'importUnionStore','aid' => $aid));}",
                            data: {
                                is_user: 1
                            },
                            dataType:'json',
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }
                });
            });
            //导入语音红包商家
            $("#btn_voicestoredata").click(function(){
			    //询问框
                layer.open({
                    content: '是否将“商家奖品核销员”导入？<div style="text-align:left;">系统将按照语音红包商家创建溯源团队，注意：选择导入后系统将自动匹配用户信息，没有匹配到信息的用户请手动补齐信息或使用系统生成的默认信息。</div>'
                    , btn: ['仅商家', '商家和核销员']
                    , yes: function (index) {
                        layer.close(index);
                        //仅导入商家
                        $.ajax({
                            type: "post",
                            url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'importVoiceStore','aid'=>$aid));}",
                            data: {
                                is_user: 0
                            },
                            dataType:'json',
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }, no: function (index) {
                        layer.close(index);
                        //导入商家和核销员
                        $.ajax({
                            type: "post",
                            url: "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'importVoiceStore','aid'=>$aid));}",
                            data: {
                                is_user: 1
                            },
                            dataType:'json',
                            success: function (data, status) {
                                if (data.status == 1) {
                                    Command: toastr["success"](data.msg, "成功提示");
                                    $("#tb_bandlist").bootstrapTable('refresh');
                                }
                                else {
                                    Command: toastr["error"](data.msg, "错误提示");
                                }
                            }
                        });
                    }
                });
			
			});
			
			
			//导出数据
            $("#btn_exportdata").click(function(){
                var key=$("#SearchKey").val();
                var status=$("#SearchStatus").val();
                var timer= $("#SearchTime").val();

                //询问框
                layer.open({
                    content: '您确定要导出记录到Excel吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        layer.close(index);
                        window.location.href = "{php echo $this->createWebAppUrl('marketing_team', array('act' => 'exportData','aid' => $aid));}&key="+ key +"&status="+ status +"&timer="+ timer +"";
                    }
                });
            });
        };
        return oInit;
    };
</script>
</body>
</html>