<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name = "format-detection" content ="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{$title} - {$config['name']}</title>
    <link rel="stylesheet" type="text/css" href="{__MOBILE_STORE_CSS__}/base.css">
    <link rel="stylesheet" type="text/css" href="{__MOBILE_STORE_CSS__}/index.css?v=20191120">
    <link rel="stylesheet" type="text/css" href="{__MOBILE_STORE_PLUGIN__}/storeinvite/css/invite.css?v=20200219">
    <link rel="stylesheet" type="text/css" href="{__MOBILE_STORE_CSS__}/swiper.min.css">
    <!-- 解决引用mui时ios输入框失去焦点页面跳到顶部问题 -->
    <style type="text/css">
        body{overflow: scroll; -webkit-overflow-scrolling: touch;}
    </style>
    <!-- 移动端适配 -->
    <script>
        var html = document.querySelector('html');
        changeRem();
        window.addEventListener('resize', changeRem);
        function changeRem() {
            var width = html.getBoundingClientRect().width;
            html.style.fontSize = width / 10 + 'px';
        }
    </script>
    <script src="{__MOBILE_STORE_JS__}/jquery-2.1.4.min.js"></script>
    <script src="{__PLUGIN__}/layer/mobile/2.0/layer.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>
        // jssdk config 对象
        jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || {};
        // 是否启用调试
        jssdkconfig.debug = false;
        jssdkconfig.jsApiList = [
            'checkJsApi',
            'updateAppMessageShareData',
            'updateTimelineShareData',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'getLocation',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'hideMenuItems'
        ];
        wx.config(jssdkconfig);
        wx.error(function (res) {
            layer.open({ content: '对不起，微信JSSDK信息验证失败！', skin: 'msg', time: 2 });
        });
        wx.ready(function () {
            var title = "{$_share['title']}";
            var imgUrl = "{$_share['imgUrl']}";
            var link = "{$_share['link']}";
            var desc = "{$_share['desc']}";

            if (wx.onMenuShareTimeline) {
                //转发到朋友圈
                wx.onMenuShareTimeline({
                    title: title,
                    desc: desc,
                    link: link,
                    imgUrl: imgUrl,
                    success: function () {

                    },
                    cancel: function () {
                        layer.open({ content: '对不起，转发失败请重试！', skin: 'msg', time: 2 });
                    }
                });
                //转发给朋友
                wx.onMenuShareAppMessage({
                    title: title,
                    desc: desc,
                    link: link,
                    imgUrl: imgUrl,
                    type: 'link',
                    dataUrl: '',
                    success: function () {

                    },
                    cancel: function () {
                        layer.open({ content: '对不起，转发失败请重试！', skin: 'msg', time: 2 });
                    }
                });
                wx.onMenuShareQQ({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: link, // 分享链接
                    imgUrl: imgUrl, // 分享图标
                    success: function () {

                    },
                    cancel: function () {
                        layer.open({ content: '对不起，转发失败请重试！', skin: 'msg', time: 2 });
                    }
                });
                wx.onMenuShareWeibo({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: link, // 分享链接
                    imgUrl: imgUrl, // 分享图标
                    success: function () {

                    },
                    cancel: function () {
                        layer.open({ content: '对不起，转发失败请重试！', skin: 'msg', time: 2 });
                    }
                });
            }
            else{
                //新版发送朋友圈
                wx.updateTimelineShareData({
                    title: title, // 分享标题
                    link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                }, function(res) {

                });
                wx.updateAppMessageShareData({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                }, function(res) {

                });
            }
        });
    </script>
    <link rel="stylesheet" href="{__PLUGIN__}/dropload/dropload.css">
    <script src="{__MOBILE_STORE_JS__}/swiper.jquery.min.js"></script>
    <style>
        /*不滚动样式*/
        .scroll {position: fixed; width: 100%; height:100%; }
        body {position: static}
        .layui-m-layercont {padding: 20px 20px;line-height: 22px;text-align: center;}
    </style>
</head>
<body>
<section class="rel" style="height: 1.08rem;">
    <h2 class="screen fn font28 bgfff" style=" position: fixed;z-index: 10;width: 100%;">
        <dl class="retrie">
            <dt class="bor_b pd0_24">
                <a id="filter" href="javascript:;" style="width:auto!important">筛选<i class="sortIconI"></i> </a>
            </dt>
            <dd class="default">
                <form>
                    <!--筛选弹出层-->
                    <section class="interal_filter downlist" style="display: none;">
                        <ul class="form">
                            <li><span>商家信息：</span><section><input type="text" placeholder="商家名称/电话号码" id="searchKey"></section></li>
                            <li><span>邀请业务：</span><section>
                                <p class="select_box rel">
                                    <select id="searchPromoter">
                                        <option value="">请选择</option>
                                        {loop $promoterList $index $promoter}
                                        <option value="{$promoter['id']}">{$promoter['name']}</option>
                                        {/loop}
                                    </select>
                                </p>
                            </section>
                            </li>
                        </ul>
                        <section class="retrieval mt24 clearfix">
                            <button type="reset" class="recharge_but font32"> 重置</button>
                            <button type="button" class="submit_but font32" id="btnSearch"> 搜索</button>
                        </section>
                    </section>
                </form>
            </dd>
        </dl>
    </h2>
</section>
{if $or_open_rebate2==1}
<section class="tabContainer mb24">
    <ul class="tabHd tabHd01 teamTitle">
        <li class="active" style="width: 50%;" id="tabs-nav-one"><span>一级商家</span></li>
        <li style="width: 50%;" id="tabs-nav-two"><span>二级商家</span></li>
    </ul>
</section>
{/if}
<!--中心区域-->
<section class="tabCon" id="ContentList">
    <ul class="mystaff" id="LoadLists">

    </ul>
</section>
<section style="height:1.27rem"></section>
<section class="buttonFloat">
    <a href="{php echo $this->createMobileUrl('store.invite_center',array('act'=>'index'))}" class="db font32 yellowBtn" style="background: #FFD112;">分销中心</a>
</section>
<script src="{__PLUGIN__}/dropload/dropload.js"></script>
<script src="{__PLUGIN__}/artTemplate/template-native-debug.js"></script>
<script src="{__MOBILE_STORE_JS__}/index.js"></script>
<script id="listtpl" type="text/html">
    <% for(var i = 0; i < rows.length; i++){ %>
    <li data-id="<%= rows[i].id %>">
        <section class="staff_info">
            <img class="tx" src="<%= rows[i].logo %>" alt="<%= rows[i].name %>">
            <h2 class="fn clearfix"><span class="mr10"><%= rows[i].name %></span>
                <span class=" ml10"><img src="{__MOBILE_STORE_IMG__}/telIcon.png"><%= rows[i].mobile%></span>
            </h2>
            <p>
                <%= rows[i].city%>
                <%if(rows[i].status == 'one'){%>
                <%if(rows[i].promoter_id > 0){%>
                业务员：<%= rows[i].promoter_name%>
                <%}%>
                <%}else{%>
                <%if(rows[i].parent_promoter_id > 0){%>
                业务员：<%= rows[i].parent_promoter_name%>
                <%}%>
                <%}%>
            </p>
        </section>
    </li>
    <% } %>
</script>
<script>
    $(function () {
        //点击筛选
        $('#filter').click(function(){
            var $filter = $(this);
            if($filter.hasClass('up')){
                $filter.removeClass('up');
                $('.downlist').hide();
            }else{
                $filter.addClass('up');
                $('.downlist').show();
            }
        });

        var page = 0;
        var pageSize = 10;
        var dropload_me;
        var is_first = true;
        var status = 'one';

        //点击一级团队
        $('#tabs-nav-one').click(function(){
            status = 'one';
            $(this).addClass('active');
            $('#tabs-nav-two').removeClass('active');
            $('#btnSearch').trigger("click");
        });

        //点击二级团队
        $('#tabs-nav-two').click(function(){
            status = 'two';
            $(this).addClass('active');
            $('#tabs-nav-one').removeClass('active');
            $('#btnSearch').trigger("click");
        });

        //点击搜索
        $('#btnSearch').click(function() {
            //隐藏筛选弹框
            $('#filter').removeClass('up');
            $('.downlist').hide();

            //筛选参数
            window.searchPromoter = $('#searchPromoter').val();
            window.searchKey = $('#searchKey').val();

            //重新从第一页加载
            if(dropload_me){
                $('#LoadLists').empty();
                page = 0;
                dropload_me.unlock();
                dropload_me.noData(false);
                dropload_me.resetload();
            }

            if(is_first){
                is_first = false;
                $('#ContentList').dropload({
                    scrollArea : window,
                    domUp : {
                        domClass   : 'dropload-up',
                        domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
                        domUpdate  : '<div class="dropload-update">↑释放更新</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>数据加载中...</div>'
                    },
                    domDown : {
                        domClass   : 'dropload-down',
                        domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>数据加载中...</div>',
                        domNoData  : '<div class="dropload-noData">暂无更多数据</div>'
                    },
                    loadUpFn : function(me){
                        $.ajax({
                            type: 'GET',
                            url: "{php echo $this->createMobileUrl('store.invite_team', array('act' => 'getJsonList'));}",
                            data:{
                                "page":1,
                                "pageSize":pageSize,
                                "promoter":window.searchPromoter,
                                "status":status,
                                "key":window.searchKey,
                            },
                            dataType: 'json',
                            success: function(data){
                                var html = template("listtpl", data);
                                $('#LoadLists').html(html);
                                // 每次数据加载完，必须重置
                                me.resetload();
                                // 重置页数，重新获取loadDownFn的数据
                                page = 1;
                                window.delCount = 0;
                                // 解锁loadDownFn里锁定的情况
                                me.unlock();
                                me.noData(false);
                            },
                            error: function(xhr, type){
                                layer.open({
                                    content: '系统错误，稍后重试！'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                                // 即使加载出错，也得重置
                                me.resetload();
                            }
                        });
                    },
                    loadDownFn : function(me){
                        dropload_me = me;
                        page++;
                        // 拼接HTML
                        var result = '';
                        $.ajax({
                            type: 'GET',
                            url: "{php echo $this->createMobileUrl('store.invite_team', array('act' => 'getJsonList'));}",
                            data:{
                                "page":page,
                                "pageSize":pageSize,
                                "promoter":window.searchPromoter,
                                "status":status,
                                "key":window.searchKey,
                            },
                            dataType: 'json',
                            success: function(data){
                                var arrLen = data.rows.length;
                                if(arrLen > 0){
                                    var html = template("listtpl", data);
                                    // 如果没有数据
                                }else{
                                    // 锁定
                                    me.lock();
                                    // 无数据
                                    me.noData();
                                }

                                // 插入数据到页面，放到最后面
                                $('#LoadLists').append(html);
                                // 每次数据插入，必须重置
                                me.resetload()
                            },
                            error: function(xhr, type){
                                layer.open({
                                    content: '系统错误，稍后重试！'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                                // 即使加载出错，也得重置
                                me.resetload();
                            }
                        });
                    },
                    threshold : 50
                });
            }

        }).trigger("click");

    });

    //解决滚动弹窗滚动穿透
    // scroll.afterOpen 锁定
    // scroll.beforeClose 解锁
    var scroll = (function (className) {
        var scrollTop;
        return {
            afterOpen: function () {
                if(document.scrollingElement){
                    scrollTop = document.scrollingElement.scrollTop
                }
                else{
                    scrollTop = document.body.scrollTop;
                }
                document.body.classList.add(className);
                document.body.style.top = -scrollTop + 'px';
            },
            beforeClose: function () {
                document.body.classList.remove(className);
                if(document.scrollingElement){
                    document.scrollingElement.scrollTop = scrollTop;
                }
                document.body.scrollTop = scrollTop;
            }
        };
    })('scroll');
</script>
</body>
</html>