<!DOCTYPE html>
<html lang="zh-cn">
{php include $this->template('common/header')}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {php include $this->template('common/top')}
    <!-- 左侧导航 -->
    {php include $this->template('common/sidebar')}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>
                {$title}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebAppUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li class="active">用户会员</li>
                <li class="active">{$title}</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="{php echo $this->createWebAppUrl('user_account', array('act' => 'index'));}">用户列表</a>
                            </li>
                            <li class="active"><a href="#">{if !empty($model['id'])}编辑{else}创建{/if}用户</a></li>
                        </ul>
                        <div class="tab-content">
                            <form class="form-horizontal" name="form_content" id="form_content" method="post">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-circle-o"></i> {if !empty($model['id'])}编辑{else}创建{/if}用户信息</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="nickname" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>用户微信昵称</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" datatype="*" id="nickname" maxlength="100"
                                                       name="model[nickname]" nullmsg="请输入用户微信昵称！" placeholder="请输入用户微信昵称"
                                                       type="text" value="{$model['nickname']}"/>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请输入注册用户的微信昵称，请保持一致。</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>用户微信头像</label>
                                            <div class="col-sm-10">
                                                {php echo tpl_form_field_image('model[headurl]',$model['headurl']);}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="openid" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>微信OpenID</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" datatype="*" id="openid" maxlength="60"
                                                       name="model[openid]" nullmsg="请输入用户微信OpenID！" placeholder="请输入用户微信OpenID"
                                                       type="text" value="{$model['openid']}" {if !empty($model['id'])}readonly="readonly" {/if} />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="oauthid" class="col-sm-2 control-label"><span
                                                    class="text-red"></span>微信OauthID</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="oauthid" maxlength="60"
                                                       name="model[oauthid]"  placeholder="请输入用户微信OauthID"
                                                       type="text" value="{$model['oauthid']}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>微信用户性别</label>
                                            <div class="col-sm-10">
                                                <label>
                                                    <input type="radio" name="model[sex]" id="sex1" class="flat-blue" value="1" {if $model['sex']==1} checked {/if}> 男士
                                                </label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" name="model[sex]" id="is_register2" class="flat-blue" value="2" {if $model['sex']==2} checked {/if}> 女士
                                                </label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" name="model[sex]" id="is_register0" class="flat-blue" value="0" {if $model['sex']==0} checked {/if}> 未知
                                                </label>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="area" class="col-sm-2 control-label">用户所在区域</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"  id="area" maxlength="100"
                                                       name="model[area]"  placeholder="请输入用户所在行政区域"
                                                       type="text" value="{$model['area']}"/>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请输入微信用户所在的行政区域，格式“国家,省,市”例如：中国,河南,洛阳。</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mobile" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>用户手机号码</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" datatype="*" id="mobile" maxlength="100"
                                                       name="model[mobile]" nullmsg="请输入用户手机号码！" placeholder="请输入用户手机号码"
                                                       type="text" value="{$model['mobile']}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="money" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>用户账户余额</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">￥</span>
                                                    <input class="form-control" maxlength="10" name="model[money]"
                                                           placeholder="请输入用户账户余额" datatype="*" nullmsg="请输入用户账户余额！"
                                                           onkeyup = "if(isNaN(this.value)){this.value='0.00';}else{this.value}"
                                                           onblur = "this.value=FloatMoney(this.value)"
                                                           step="0.01" id="money"
                                                           type="number" value="{$model['money']}" disabled="disabled"/>
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="score" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>用户账户积分</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input class="form-control"
                                                           maxlength="10" datatype="*" nullmsg="请输入用户账户积分！"
                                                           name="model[score]" placeholder="请输入用户账户积分" id="score"
                                                           onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                           onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                           type="number" value="{$model['score']}" />
                                                    <span class="input-group-addon">积分</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="status2" class="col-sm-2 control-label">用户账户状态</label>
                                            <div class="col-sm-10">
                                                <input data-off-text="禁用" data-on-text="开启" data-size="mini" id="status"
                                                       type="checkbox" value="true" {if $model['status']==1}checked{/if}/>
                                                <input id="status2" name="model[status]" type="hidden"
                                                       value="{$model['status']}"/>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 选择账号开启/关闭状态，关闭后用户将被禁用登录系统参与活动</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input id="id" name="id" type="hidden" value="{$model['id']}"/>
                                                <input type="hidden" name="token" value="{$_W['token']}"/>
                                                <input type="hidden" name="submit" value="submit"/>
                                                <button type="submit" class="btn btn-primary" id="SubmitBtn">
                                                    <i class="fa fa-pencil"></i> 提交
                                                </button>
                                                <button type="reset" class="btn btn-default"><i
                                                        class="fa fa-refresh"></i> 重置
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- 底部版权 -->
    {php include $this->template('common/footer')}
</div>
<script>
    $(function () {
        SelectNav("用户信息管理");

        myrequire(['select2', 'bootstrap-switch', 'validform', 'icheck'], function () {
            $(".select2").select2();
            //绑定更改状态操作
            $('#status').bootstrapSwitch({
                onSwitchChange: function (event, state) {
                    var status = state ? 1 : 0;
                    $("#status2").val(status);
                }
            });

            //初始化icheck控件radio
            $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //为formContent 添加验证事件
            $("#form_content").Validform({
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        if (o.type == 2) {
                            //loading带文字
                            layer.open({
                                type: 2
                                , content: '数据提交中'
                                , time: 999 //999秒后自动关闭
                            });
                        } else {
                            layer.closeAll();
                            layer.open({
                                content: msg
                                , skin: 'msg'
                                , time: 2 //2秒后自动关闭
                            });
                        }
                    }
                },
                ajaxPost: true,
                tipSweep: true,
                beforeSubmit: function (curform) {
                    $("#SubmitBtn").attr("disabled", true);
                },
                callback: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        Command: toastr["success"](data.msg, "成功提示");
                        if (data.type == 1) {
                            setTimeout(function () {
                                window.location.href = "{php echo $this->createWebAppUrl('user_account', array('act' => 'index'));}";
                            }, 2000);
                        } else {
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }
                    else if (data.status == "2") {
                        Command: toastr["warning"](data.msg, "验证提示");
                        $("#SubmitBtn").attr("disabled", false);
                    }
                    else {
                        Command: toastr["error"](data.msg, "错误提示");
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 2000);
                    }
                }
            });
        });
    });
</script>
</body>
</html>