<!DOCTYPE html>
<html lang="zh-cn">
{php include $this->template('common/header')}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {php include $this->template('common/top')}
    <!-- 左侧导航 -->
    {php include $this->template('common/sidebar')}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>
                {$title} - {$objModel['title']}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebAppUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li class="active">活动管理</li>
                <li class="active">{$title}</li>
                <li class="active">商家申请</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="{php echo $this->createWebAppUrl('obj_voice', array('act' => 'index'));}">返回活动</a>
                            </li>
                            <li>
                                <a href="{php echo $this->createWebAppUrl('obj_voice_store_wait', array('act' => 'index','aid' => $aid));}">商家列表</a>
                            </li>
                            <li class="active"><a href="#">审核商家</a></li>
                        </ul>
                        <div class="tab-content">
                            <form class="form-horizontal" name="form_content" id="form_content" method="post">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-circle-o"></i> 审核商家信息</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>活动商家名称</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" datatype="*" id="name" maxlength="100"
                                                       name="model[name]" nullmsg="请输入活动商家名称！" placeholder="请输入活动商家名称"
                                                       type="text" value="{$model['name']}"/>
                                            </div>
                                        </div>
										<div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>商家奖品模板</label>
                                            <div class="col-sm-10">
                                                {php echo tpl_form_field_image('model[pic_url]',$model['pic_url']);}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">奖品背景模板</label>
                                            <div class="col-sm-10">
                                                <div class="input-group multi-img-details">
                                                    <div class="multi-item" style="height:auto">
                                                        <img src="{MODULE_URL}resource/template/store/store1.png" class="img-responsive img-thumbnail storetmp">
                                                    </div>
                                                    <div class="multi-item" style="height:auto">
                                                        <img src="{MODULE_URL}resource/template/store/store2.png" class="img-responsive img-thumbnail storetmp">
                                                    </div>
                                                    <div class="multi-item" style="height:auto">
                                                        <img src="{MODULE_URL}resource/template/store/store3.png" class="img-responsive img-thumbnail storetmp">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">商家LOGO图片</label>
                                            <div class="col-sm-10">
                                                {php echo tpl_form_field_image('model[logo_url]',$model['logo_url']);}
                                                <p class="help-block"><strong class="text-danger">提示：</strong>
                                                    图标建议尺寸200x200像素，将展示在活动首页和商家宣传页顶部</p>
                                            </div>
                                        </div>
										
										<div class="form-group">
                                            <label for="word_password" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>语音口令</label>
                                            <div class="col-sm-10">
                                                <textarea rows = "3" name="model[word_password]" id="word_password" class="form-control" placeholder = "请输入语音口令...">{$model['word_password']}</textarea>
                                                <p class="help-block"><strong class="text-danger">提示：</strong>请输入抽取奖品的语音口令，即用户领取奖项的简短口令,请尽量短小精悍，最大支持字符30个(1个字算一个字符)，请尽量避免填写特殊字符</p>
                                            </div>
                                        </div>
										<div class="form-group">
                                            <label class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>奖品领取方式</label>
                                            <div class="col-sm-10">
                                                <label>
                                                    <input type="radio" name="model[get_types]" id="get_types0" class="flat-blue obj_get_types" value="0" {if $model['get_types']==0} checked {/if}> 活动期间
                                                </label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" name="model[get_types]" id="get_types1" class="flat-blue obj_get_types" value="1" {if $model['get_types']==1} checked {/if}> 活动每天
                                                </label>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请选择限制用户领取奖品的方式，选择“活动期间”，“活动每天”后，请完善“限制领取次数”选项信息。</p>
                                            </div>
                                        </div>
										<div class="form-group">
                                            <label for="join_limit_num" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>限制参与次数</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="join_limit_num" maxlength="10"
                                                       name="model[join_limit_num]"  placeholder="请输入用户限制参与次数"
                                                       type="number" value="{$model['join_limit_num']}"/>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请输入活动商家限制用户参与的次数，超过次数将无法参与商家口令奖品，请和“限制方式”选项配合设置。0为不限制</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="limit_num" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>限制领取次数</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="limit_num" maxlength="10"
                                                       name="model[limit_num]"  placeholder="请输入奖品限制领取次数"
                                                       type="number" value="{$model['limit_num']}"/>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请输入活动商家限制领取次数，超过次数将无法参与商家口令奖品，请和“奖品领取方式”选项配合设置。</p>
                                            </div>
                                        </div>
										
                                        <div class="form-group">
                                            <label for="tel" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>商家联系电话</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" datatype="*" id="tel" maxlength="20"
                                                       name="model[tel]" nullmsg="请输入商家联系电话！" placeholder="请输入商家联系电话"
                                                       type="text" value="{$model['tel']}"/>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请输入商家联系电话
                                                    以便参与用户和商家取得联系 咨询卡券使用规则</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="industry_id" class="col-sm-2 control-label"><span
                                                    class="text-red">(*)</span>商家隶属行业</label>
                                            <div class="col-sm-10">
                                                <select id="industry_id" name="model[industry_id]" class="form-control select2" style="width: 100%;" datatype="*" nullmsg="请选择商家隶属行业！">
                                                    {loop $industryList $industry}
                                                    <option value="{$industry['id']}" {if $industry['id'] == $model['industry_id']}selected="selected"{/if}>{$industry['name']}</option>
                                                    {/loop}
                                                </select>
                                                <p class="help-block"><strong class="text-danger">提示：</strong> 请选择商家隶属行业 方便去商家进行筛选。</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>商家简介/使用规则</label>
                                            <div class="col-sm-10">
                                                {php echo tpl_ueditor('model[content]',$model['content']);}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>商家顶部轮播</label>
                                            <div class="col-sm-10">
                                                {php echo tpl_form_field_multi_image('banner_url',$model['banner_url']);}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>活动门店列表</label>
                                            <div class="col-sm-10">
                                                <div class="box">
                                                    <div class="box-header">
                                                        <h3 class="box-title">创建门店所有信息都为必填信息，请按照要求认真填写。</h3>
                                                        <div class="box-tools pull-right">
                                                            <input type="button" id="addmapbtn"
                                                                   class="btn btn-sm btn-info" value="添加门店" style="margin-bottom: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=F51571495f717ff1194de02366bb8da9&s=1"></script><script type="text/javascript">
                                                        function showCoordinate(elm) {
                                                            require(["util"], function(util){
                                                                var val = {};
                                                                val.lng = parseFloat($(elm).parent().prev().prev().find(":text").val());
                                                                val.lat = parseFloat($(elm).parent().prev().find(":text").val());
                                                                util.map(val, function(r){
                                                                    $(elm).parent().prev().prev().find(":text").val(r.lng);
                                                                    $(elm).parent().prev().find(":text").val(r.lat);
                                                                });

                                                            });
                                                        }
                                                    </script>
                                                        <table class="table table-striped" id="addmaptable">
                                                            <tr>
                                                                <th>门店名称</th>
                                                                <th>经纬度</th>
                                                                <th>详细地址</th>
                                                                <th>联系电话</th>
                                                                <th>操作</th>
                                                            </tr>
                                                            {if !empty($model['id'])}
                                                            {loop $model['store_map_list'] $index $item}
                                                            <tr class="addmap">
                                                                <td>
                                                                    <input class="form-control" name="model[store_map_list][{$index}][name]"  placeholder="请输入门店名称" value="{$item['name']}"  type="text" />
                                                                </td>
                                                                <td>
                                                                    <div class="row row-fix">
                                                                        <div class="col-xs-4 col-sm-4">
                                                                            <input type="text" name="model[store_map_list][{$index}][lng]" value="{$item['lng']}" placeholder="地理经度"  class="form-control" />
                                                                        </div>
                                                                        <div class="col-xs-4 col-sm-4">
                                                                            <input type="text" name="model[store_map_list][{$index}][lat]" value="{$item['lat']}" placeholder="地理纬度"  class="form-control" />
                                                                        </div>
                                                                        <div class="col-xs-4 col-sm-4">
                                                                            <button onClick="showCoordinate(this);" class="btn btn-default" type="button">选择坐标</button>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" name="model[store_map_list][{$index}][address]" value="{$item['address']}" placeholder="请输入门店位置" type="text" />
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" name="model[store_map_list][{$index}][tel]" value="{$item['tel']}" placeholder="请输入联系电话" type="text" />
                                                                </td>
                                                                <td>
                                                                    <input type="button" class="btn btn-sm btn-danger pull-right delmapitem" value="删除门店" style="margin-right:10px" />
                                                                </td>
                                                            </tr>
                                                            {/loop}

                                                            {/if}
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<div class="form-group">
                                            <label for="admins" class="col-sm-2 control-label"><span class="text-red">(*)</span>商家奖品核销员</label>
                                            <div class="col-sm-10">
                                                <textarea rows="3" name="model[openid]" id="admins" class="form-control"
                                                          placeholder="请输入核销人员的OPENID...">{$model['openid']}</textarea>
												<p style="margin:12px 0px 0px 0px;"></p>		
                                                <p class="help-block"><strong class="text-danger">提示：</strong>
                                                    多个人员请用","分割,
                                                    例如："oIJyhjs1VVYa6enCPsvHebYa79aU,ogaIJ0y00qDCbILPw8Kiv-gDeDYk"。<a href="javascript:void(0);" onclick="showEwmDialog();" target="_blank"> >>获取OPENID</a>   <a href="javascript:void(0);" onClick="showAdminsEwmDialog();"> >>核销员管理入口</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-circle-o"></i> 商家广告设置</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>开屏广告开关</label>
                                            <div class="col-sm-10">
                                                <label>
                                                    <input type="radio" value="0" name="model[is_show_ads]" id="is_show_ads0"
                                                           class="flat-blue is_show_ads" {if $model['is_show_ads']==0} checked
                                                    {/if}> 关闭
                                                </label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" value="1" name="model[is_show_ads]" id="is_show_ads1"
                                                           class="flat-blue is_show_ads" {if $model['is_show_ads']==1} checked
                                                    {/if}> 开启
                                                </label>&nbsp;&nbsp;
                                                <span class="help-block">
                                                        <p><strong class="text-danger">提示：</strong> 开启后用户首次进入首页会弹出开屏广告，为提升用户体验关闭后再次进入将不再展示。</p>
                                                    </span>
                                            </div>
                                        </div>
                                        <div id="ads_open_box" style="display: {if $model['is_show_ads'] != 1} none{/if};">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"><span class="text-red">(*)</span>开屏广告图片</label>
                                                <div class="col-sm-10">
                                                    {php echo tpl_form_field_image('model[ads_url]',$model['ads_url']);}
                                                    <span class="help-block">
                                                        <p><strong class="text-danger">提示：</strong> 请按根据情况上传图片 建议尺寸518*740</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ads_link" class="col-sm-2 control-label">广告链接地址</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="ads_link" maxlength="250"
                                                           name="model[ads_link]"  placeholder="请输入广告链接地址"
                                                           type="text" value="{$model['ads_link']}"/>
                                                    <p class="help-block"><strong class="text-danger">提示：</strong> 请输入完整链接地址，以http://或https://开头，例如：http://www.baidu.com/</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="show_ads_time" class="col-sm-2 control-label">
                                                    <span class="text-red">(*)</span>广告展示时间
                                                </label>
                                                <div class="col-sm-10">
                                                    <input class="form-control"  datatype="n" id="show_ads_time" name="model[show_ads_time]" onKeyUp="if(isNaN(this.value)) this.value='0';" placeholder="请输入广告展示时间" type="number" value="{$model['show_ads_time']}">
                                                    <p class="help-block"><strong class="text-danger">提示：</strong> 请输入开屏广告展示时间，开启后广告时间必填且大于零，单位：秒</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-circle-o"></i> 商家申请审核</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"><span class="text-red">(*)</span>申请审核状态</label>
                                            <div class="col-sm-10">
                                                <label>
                                                    <input type="radio" value="1" name="model[auditing]" id="auditing0"
                                                           class="flat-blue auditing" {if $model['auditing']!=2} checked
                                                    {/if}> 通过
                                                </label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" value="2" name="model[auditing]" id="auditing1"
                                                           class="flat-blue auditing" {if $model['auditing']==2} checked
                                                    {/if}> 驳回
                                                </label>&nbsp;&nbsp;
                                                <span class="help-block"><p><strong class="text-danger">提示：</strong> 开启后用户首次进入首页会弹出开屏广告，为提升用户体验关闭后再次进入将不再展示。</p></span>
                                            </div>
                                        </div>
                                        <div id="auditing_box" style="display: {if $model['auditing'] != 2} none{/if};">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"><span class="text-red">(*)</span>申请驳回原因</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="3" name="model[cause]" id="cause" class="form-control" placeholder="请输入商家申请驳回原因，方便日后查看...">{$model['cause']}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input id="id" name="id" type="hidden" value="{$model['id']}"/>
                                                <input type="hidden" name="token" value="{$_W['token']}"/>
                                                <input type="hidden" name="submit" value="submit"/>
                                                <button type="submit" class="btn btn-primary" id="SubmitBtn">
                                                    <i class="fa fa-pencil"></i> 提交
                                                </button>
                                                <button type="reset" class="btn btn-default"><i
                                                        class="fa fa-refresh"></i> 重置
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="copyTarget" style="opacity: 0;"></div>
    </div>
    <!-- 底部版权 -->
    {php include $this->template('common/footer')}
</div>
<script id="maptpl" type="text/html">
    <tr class="addmap">
        <td>
            <input class="form-control" name="model[store_map_list][<%= count %>][name]"  placeholder="请输入门店名称" type="text" />
        </td>
        <td>
            <div class="row row-fix">
                <div class="col-xs-4 col-sm-4">
                    <input type="text" name="model[store_map_list][<%= count %>][lng]" value="" placeholder="地理经度"  class="form-control" />
                </div>
                <div class="col-xs-4 col-sm-4">
                    <input type="text" name="model[store_map_list][<%= count %>][lat]" value="" placeholder="地理纬度"  class="form-control" />
                </div>
                <div class="col-xs-4 col-sm-4">
                    <button onclick="showCoordinate(this);" class="btn btn-default" type="button">选择坐标</button>
                </div>
            </div>
        </td>
        <td>
            <input class="form-control" name="model[store_map_list][<%= count %>][address]"  placeholder="请输入门店位置" type="text" />
        </td>
        <td>
            <input class="form-control" name="model[store_map_list][<%= count %>][tel]"  placeholder="请输入联系电话" type="text" />
        </td>
        <td>
            <input type="button" class="btn btn-sm btn-danger pull-right delmapitem" value="删除门店" style="margin-right:10px" />
        </td>
    </tr>
</script>
<script>

	var importPage = 0;
	var importSize = 10;
	window.userKey = "";
	var verificationorboss = true;
    $(function () {
        SelectNav("我创建的活动");

        myrequire(['select2', 'bootstrap-switch', 'validform', 'icheck', 'bootstrap-slider'], function () {
            myrequire([ 'arttemplate'], function (template) {
                //开启多门店添加门店信息
                $("#addmapbtn").click(function () {
                    var mapcount	= $(".addmap").length;
                    var obj = {};
                    obj.count = mapcount;
                    var html = template("maptpl",obj);
                    $("#addmaptable").append(html);
                });
            });

            $(".select2").select2();

            //初始化icheck控件radio
            $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //删除多门店信息
            $(document).delegate(".delmapitem", "click", function() {
                var list = $(this).parent().parent().parent();
                $(this).parent().parent().remove();
                list.children(".addmap").each(function (index) {
                    $(this).find(".form-control").each(function () {
                        var inputName = $(this).attr("name");
                        $(this).attr("name", inputName.replace(/\[([\d]+)\]/g, "[" + index + "]"));
                    });
                });
            });

            //选择是否开启广告选项卡
            $('.is_show_ads').on('ifChecked', function (event) { //ifCreated 事件应该在插件初始化之前绑定
                var obj_types = $(this).val();
                if(obj_types==0)
                {
                    $("#ads_open_box").hide();
                }
                else
                {
                    $("#ads_open_box").show();
                }
            });
			//选择奖品封面模板
            $(".storetmp").click(function(){
                var pic_url_ipt =$('input[name="model[pic_url]');
                pic_url_ipt.val($(this).attr('src'));
                pic_url_ipt.parent().next().children().first().attr("src", $(this).attr('src'));
            });
			

            //选择是否驳回申请选项卡
            $('.auditing').on('ifChecked', function (event) { //ifCreated 事件应该在插件初始化之前绑定
                var obj_types = $(this).val();
                if(obj_types==2)
                {
                    $("#auditing_box").show();
                }
                else
                {
                    $("#auditing_box").hide();
                }
            });

            //为formContent 添加验证事件
            $("#form_content").Validform({
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        if (o.type == 2) {
                            //loading带文字
                            layer.open({
                                type: 2
                                , content: '数据提交中'
                                , time: 999 //999秒后自动关闭
                            });
                        } else {
                            layer.closeAll();
                            layer.open({
                                content: msg
                                , skin: 'msg'
                                , time: 2 //2秒后自动关闭
                            });
                        }
                    }
                },
                ajaxPost: true,
                tipSweep: true,
                beforeSubmit: function (curform) {
                    $("#SubmitBtn").attr("disabled", true);
                },
                callback: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        Command: toastr["success"](data.msg, "成功提示");
                        setTimeout(function () {
                            window.location.href = "{php echo $this->createWebAppUrl('obj_voice_store_wait', array('act' => 'index','aid' => $aid));}";
                        }, 2000);
                    }
                    else if (data.status == "2") {
                        Command: toastr["warning"](data.msg, "验证提示");
                        $("#SubmitBtn").attr("disabled", false);
                    }
                    else {
                        Command: toastr["error"](data.msg, "错误提示");
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 2000);
                    }
                }
            });
		
		});

		



    });

    function showEwmDialog() {
        require(["jquery", "util"], function(){
            var footer = '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
            var modalobj = util.dialog('扫码获取OPENID','<div class=link-modal><div style=width:300px;margin:auto;position:relative;text-align:center;><img src={php echo $this->createWebAppUrl('obj_voice_store_wait', array('act' => 'openidQrPreview','aid' => $aid));}><p>请用核销人员的微信浏览器打开！</p></div></div>',footer,{containerName:'emw-container'});
            modalobj.modal({'keyboard': true});
            modalobj.find('.modal-body').css({'overflow-y':'auto' });
            modalobj.modal('show');
        });
    }

    function showAdminsEwmDialog() {
        require(["jquery", "util"], function(){
            var footer = '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
            var modalobj = util.dialog('核销员管理入口','<div class=link-modal><div style=width:300px;margin:auto;position:relative;text-align:center;><img src={php echo $this->createWebAppUrl('obj_voice_store_wait', array('act' => 'adminsQrPreview','aid' => $aid));}><p>请用管理员的微信浏览器打开！</p></div><p><div class="input-group input-group-sm"><input type="text" class="form-control" value="{php echo replaceDieDomain($config,__MURL('obj_voice', array('token' => $objModel['token'], 'act' => 'writeStore'), true, true),0,$objModel['id'],0);}"><span class="input-group-btn"><button class="btn btn-info btn-flat btn_copy" type="button" id="btn_copy" data-clipboard-action="copy" data-clipboard-target="#copyTarget">复制地址</button></span></div></p></div>',footer,{containerName:'emw-container'});
            modalobj.modal({'keyboard': true});
            modalobj.find('.modal-body').css({'overflow-y':'auto' });
            modalobj.modal('show');
        });
        require(["clipboard"], function (Clipboard) {
            //复制预览网址
            new Clipboard('#btn_copy', {
                text: function(trigger) {
                    $("#copyTarget").text('{php echo replaceDieDomain($config,__MURL('obj_voice', array('token' => $objModel['token'], 'act' => 'writeStore'), true, true),0,$objModel['id'],0);}');  /*放入目标对象*/
                    return trigger.getAttribute('aria-label');
                }
            });
        });
    }

    $(window).scroll(function () {
        $(".edui-editor-toolbarbox").each(function () {
            var zIndex = parseInt($(this).css('z-index')) || -1;
            if(zIndex > 0){
                $(this).addClass('edui-editor-toolbarbox2');
            }else{
                $(this).removeClass('edui-editor-toolbarbox2');
            }
        })
    });
</script>
</body>
</html>