<!DOCTYPE html>
<html lang="zh-cn">
{template 'web/common/header'}
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <!-- 头部菜单 -->
    {template 'web/common/top'}
    <!-- 左侧导航 -->
    {template 'web/common/sidebar'}
    <!-- 页面内容 -->
    <div class="content-wrapper">
        <section class="content-header">
            <i></i>
            <h1>
                {$title}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{php echo $this->createWebUrl('home');}"><i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li class="active">商户</li>
                <li class="active">{$title}</li>
            </ol>
        </section>
        <!-- 主体内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="">明细列表</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-search"></i> 筛选条件</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i></button>
                                        <button class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <form id="formSearch" class="form-horizontal">
                                    <div class="box-body">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <label class="control-label col-sm-1" for="SearchStore">平台商家</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchStore">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $storeList $value}
                                                    <option value="{$value['id']}">{$value['name']}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTypes">变动类型</label>
                                            <div class="col-sm-3">
                                                <select class="form-control select2" id="SearchTypes">
                                                    <option value="" selected="selected">请选择</option>
                                                    {loop $typesList $key $value}
                                                    <option value="{$key}">{$value}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-1" for="SearchTime">创建时间</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="SearchTime"
                                                           placeholder="开始时间 - 结束时间" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="btn-group pull-right">
                                            <button id="btn_query" type="button" class="btn btn-sm btn-info">开始检索
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-default">重置检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="box" class="table-responsive">
                                <div id="toolbar" class="btn-group">
                                </div>
                                <table id="tb_bandlist" class="table text-nowrap" data-reorderable-columns="true" ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- 底部版权 -->
    {template 'web/common/footer'}
</div>
<script>
    $(function () {
        SelectNav("套餐购买");

        require(["daterangepicker"], function () {
            //时间搜索
            $('#SearchTime').daterangepicker({
                format: "YYYY/MM/DD"
            });
        });
        myrequire(['select2', 'bootstrap-switch', 'bootstrap-editable', 'bootstrap-table'], function () {
            myrequire(['bootstrap-table-zh-cn', 'bootstrap-table-editable','bootstrap-table-fixed-columns'], function () {
                $(".select2").select2();
                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();
                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();
            });
        });
    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_bandlist').bootstrapTable({
                url: "{php echo $this->createWebUrl('store_renew', array('act' => 'getJsonList'));}",         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                    //是否启用排序
                sortName: "id",                   //排序字段
                sortOrder: "desc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 575,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                fixedColumns: true,                    //冻结列开启关闭
                fixedNumber: 1,                        //冻结列数量
                onLoadError: function () {  //加载失败时执行
                    Command: toastr["error"]("对不起，网络繁忙，请稍后再试！", "错误提示");
                },
                columns: [{
                    field: 'id',
                    title: '编号',
                    titleTooltip: '当前信息的唯一编号，数据主键',
                    sortable: true
                },
                 {
                    field: 'store_id',
                    title: '平台商家',
                    titleTooltip: '隶属商家',
                    sortable: true
                }, {
                    field: 'types',
                    title: '变动类型',
                    titleTooltip: '变动类型',
                    sortable: true,
                        formatter:function(value, row, index){
                            return row.typesname;
                        }
                }, {
                    field: 'paynumber',
                    title: '订单编号',
                    titleTooltip: '订单编号',
                    sortable: true,
                }, {
                        field: 'admins',
                        title: '管理员帐号',
                        titleTooltip: '订单编号',
                        sortable: true,
                    }, {
                        field: 'create_num',
                        title: '活动数量',
                        titleTooltip: '可创建活动数',
                        sortable: true,
                        formatter: function (value, row, index) {
                            if (value == -1) {
                                return "不限";
                            }else {
                                return value;
                            }
                        }
                    }, {
                        field: 'setmeal_name',
                        title: '续费套餐',
                        titleTooltip: '续费套餐',
                        sortable: true,
                    }, {
                        field: 'day',
                        title: '续费天数',
                        titleTooltip: '续费天数',
                        sortable: true,
                    },{
                        field: 'setmeal_money',
                        title: '续费价格',
                        titleTooltip: '续费价格',
                        sortable: true,
                    }, {
                        field: 'start_time',
                        title: '开始日期',
                        titleTooltip: '开始日期',
                        sortable: true,
                    },{
                        field: 'end_time',
                        title: '结束时间',
                        titleTooltip: '结束时间',
                        sortable: true,
                    },  {
                    field: 'createtime',
                    title: '创建时间',
                    titleTooltip: '创建的时间',
                    sortable: true,
                },  {
                    field: 'action',
                    title: '操作',
                    titleTooltip: '点击下方按钮对信息进行操作',
                    events: operateEvents,
                    formatter: operateFormatter
                }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                //search: params.search,
                pageSize: params.limit,  //每页大小
                page: params.offset / params.limit + 1,//页码
                sortOrder: params.order,//排序
                sortName: params.sort,//排序字段
                types: $("#SearchTypes").val(),
                store_id:$("#SearchStore").val(),
                timer: $("#SearchTime").val() //信息状态
            };
            return temp;
        };
        return oTableInit;
    };

    function operateFormatter(value, row, index) {
            return [
                '<button class="remove btn btn-danger btn-xs" href="javascript:void(0)" title="删除">',
                '<i class="glyphicon glyphicon-remove"></i>删除',
                '</button>',
            ].join('');
    }
    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            //询问框
            layer.open({
                content: '你确定要删除吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "{php echo $this->createWebUrl('store_renew', array('act' => 'del'));}",
                        data: {
                            id: row.id
                        },
                        success: function (data, status) {
                            if (data.status == 1) {
                                Command: toastr["success"](data.msg, "成功提示");
                                $("#tb_bandlist").bootstrapTable('refresh');
                            }
                            else {
                                Command: toastr["error"](data.msg, "错误提示");
                            }
                        }
                    });
                    layer.close(index);
                }
            });
        }
    };

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //查询操作
            $("#btn_query").click(function () {
                $("#tb_bandlist").bootstrapTable('refresh');
            });
        };
        return oInit;
    };

</script>
</body>
</html>