
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" http-equiv="{$school['title']} - 财务统计">
    <link rel="shortcut icon" href="{$_W['siteroot']}{$_W['config']['upload']['attachdir']}/{if !empty($_W['setting']['copyright']['icon'])}{$_W['setting']['copyright']['icon']}{else}images/global/wechat.jpg{/if}" />
    <link rel="stylesheet" href="{MODULE_URL}public/web/css/sp_public.css">
    <link rel="stylesheet" href="{MODULE_URL}public/web/css/index.css">
    <link rel="stylesheet" href="{MODULE_URL}public/web/css/sp_population.css">
    <title>{$school['title']} - 财务统计</title>
</head>
<body class="background">
<div class="expand">
    <div class="expand_left"></div>
    <div class="expand_right"></div>
    <div class="expand_circle"></div>
</div>
<div class="open-page">
    <div class="circle-red">
        <div class="circle-blue">
            <div class="circle-yellow"></div>
        </div>
    </div>
</div>
{template 'common/header_base'}
<section class="c-content-pop l-center-flex l-content-pop">
    <div class="c-content_item l-content_item">
        <div class="o-box c-content_box-up1"></div>
        <div class="o-box c-content_box-down1"></div>
    </div>
    <div class="c-content_item l-content_item">
        <div class="o-box c-content_box-up2"></div>
        <div class="o-box c-content_box-down2"></div>
    </div>
</section>
<script type="text/javascript" src="{MODULE_URL}public/web/js/jquery.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/web/js/echarts.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/web/js/index.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/web/js/sp_bg.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/web/js/title.js"></script>
<script type="text/javascript">
    var GPC_do = "{$_GPC['do']}";
    $.ajax({
        url: "{php echo $this->createMobileUrl('bdmoney',array('op'=>'firstdata','schoolid'=>$schoolid))}",
        type: "POST",
        dataType: "json",
        success: function (res) {

            drawCharts($('.c-content_box-up1')[0], res.pay_series);
            drawCharts($('.c-content_box-up2')[0], res.now_annual_income);
            drawCharts($('.c-content_box-down1')[0], res.pay_ob_series_data);
            drawCharts($('.c-content_box-down2')[0], res.order_status);
        }
    });
    //打开时加载动画
    setTimeout(function () {
        $(".expand_circle").css({"display": "none"});
        $(".expand_left").css({"transform": "translateX(100%)"});
        $(".expand_right").css({"transform": "translateX(-100%)"});
        setTimeout(function () {
            $(".expand").css({"z-index": -1});
        }, 500)
    }, 1000);
</script>
</body>
</html>