/*定义主题色*/
:root {
	--color-blue:#B41115;
    --color-blue-dark: #960409;
	--color-blue-900:#B41115;    
	--color-blue-800:#DF6621;    
	--color-blue-700:#b10f14;  
	/* --color-blue-600:#0F3AA0; */
	--color-blue-500:#ea292a;
	--color-blue-200:#fecc54;
	--color-blue-100:#fda606;
	--color-blue-rgba-50:rgba(180,17,21,0.87);
	--color-blue-rgba-0:rgba(180,17,21,0);
	--color-blue-100-rgba-0:rgba(49,90,208,0);
	--color-blue-700-rgba-0:rgba(14,55,137,0); 
	--color-green: #FEB802;  
	--color-green-900:#fda606;
	--color-green-900-rgba-0:rgba(253,166,6,0); 
}
body{ background: var(--color-blue-dark); color: #fff; line-height: 1.5;}


/* 重定义 */
.headCenter h1::before,.headCenter h1::after{ border-top: 4.5rem solid var(--color-blue-900); }
.headCenter{color: var(--color-green);}

/*计时器颜色*/
.digit{
	position:absolute;
	display:block;
	width:1em;
	background-color:var(--color-blue-900);
	border-radius:0.2em;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
}

.digit.static{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);

	background-image: linear-gradient(bottom, #3A3A3A 50%, var(--color-blue-900) 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, var(--color-blue-900) 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, var(--color-blue-900) 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, var(--color-blue-900) 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, var(--color-blue-900) 50%);

	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.5, var(--color-blue-900)),
			color-stop(0.5, var(--color-blue-900))
	);
}

.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#fff;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}