<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>佣金记录列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
</head>
<style>
.layui-table-cell, .layui-table-tool-panel li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">分销商列表</div>
                <div class="layui-card-body">
                	<div class="demoTable" style="margin-bottom:10px">
					    <div class="layui-inline">
			              <input class="layui-input" placeholder="请输入用户昵称" name="id" id="userNickName" autocomplete="off">
			            </div>
			            <button class="layui-btn" data-type="reload">搜索</button>
					</div>
			    	<table class="layui-hide" id="userList" lay-filter="userList"></table>	
			    	
			    	
			    	<script type="text/html" id="userList-operate">
						<a class="layui-btn  layui-btn-xs" lay-event="card">生成卡密</a>
						<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="offline">下线团队</a>
        				<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="logList">收益记录</a>
        			</script>
			    	
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var table = layui.table
            ,admin = layui.admin;
        table.render({
            elem: '#userList'
            ,url:"{:siteUrl('admin/brokerage/user_list','','web')}"
            ,cols: [[
                {field:'id', title: '用户',templet:function(d){
                	return "<img style='max-width:25px;' src='"+d.avatar+"'></img>"+d.nickname;
                }}
                ,{field:'pid', title: '上级',templet:function(d){
                	if(d.pid == 0){
                		return "总平台";
                	}else{
                		return "<img style='max-width:25px;' src='"+d.pAvatar+"'></img>"+d.pName;
                	}
                }}
                ,{align:'center', title: '操作', toolbar: '#userList-operate'}
            ]]
            ,page: true
        });
        table.on('tool(userList)', function(obj){
            var data = obj.data;
            if(obj.event === 'logList'){
            	layer.open({
                    title : '<i class="fa fa-plus"></i>&nbsp;'+data.nickname+'收益记录',
                    type:2,
                    skin : 'layui-layer-rim',
                    area: ['80%', '70%'],
                    content : "{:siteUrl('admin/brokerage/log_list','','web')}&pid="+data.id,
                    success: function (layero, index) {
                    	
                    }
                });
            } else if(obj.event === 'offline'){
            	layer.open({
                    title : '<i class="fa fa-plus"></i>&nbsp;'+data.nickname+'下线团队',
                    type:2,
                    skin : 'layui-layer-rim',
                    area: ['80%', '70%'],
                    content : "{:siteUrl('admin/brokerage/offline_index','','web')}&pid="+data.id,
                    success: function (layero, index) {
                    	
                    }
                });
            } else if(obj.event === 'card'){
            	layer.open({
                    title : '<i class="fa fa-plus"></i>&nbsp;'+data.nickname+'卡密列表',
                    type:2,
                    skin : 'layui-layer-rim',
                    area: ['80%', '70%'],
                    content : "{:siteUrl('admin/brokerage/card_index','','web')}&pid="+data.id,
                    success: function (layero, index) {
                    	
                    }
                });
            }
        });
        var $ = layui.$, active = {
           reload: function(){
               var demoReload = $('#userNickName');
               table.reload('userList', {
                 page: {
                   curr: 1 
                 }
                 ,where: {
                   'nickname': demoReload.val()
                 }
               });
             }
       };
       $('.demoTable .layui-btn').on('click', function(){
           var type = $(this).data('type');
           active[type] ? active[type].call(this) : '';
       });
    });
</script>
</body>
</html>